@model HboFactFind.Domain.Pages.PageSix

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PageSix</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClientOneMortageRent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientOneMortageRent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientOneCouncilTax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientOneCouncilTax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientOneUtilities)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientOneUtilities)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientOneFoodShopping)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientOneFoodShopping)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientOneTvSateliteCableInternet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientOneTvSateliteCableInternet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientOnePhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientOnePhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientOneTransportation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientOneTransportation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientOneFinancials)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientOneFinancials)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientOneLoansCreditStoreCardRepayments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientOneLoansCreditStoreCardRepayments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientOneSavings)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientOneSavings)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientOneInsurance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientOneInsurance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientOnePensionContributions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientOnePensionContributions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientOneMiscellaneious)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientOneMiscellaneious)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientOneHolidays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientOneHolidays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientOneRegularSubscriptions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientOneRegularSubscriptions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientOneClothing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientOneClothing)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientOneOther)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientOneOther)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientOneTotalOutgoings)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientOneTotalOutgoings)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientOneSurplusIncome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientOneSurplusIncome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientOneFinancialGoalCommitment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientOneFinancialGoalCommitment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientTwoMortageRent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientTwoMortageRent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientTwoCouncilTax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientTwoCouncilTax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientTwoUtilities)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientTwoUtilities)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientTwoFoodShopping)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientTwoFoodShopping)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientTwoTvSateliteCableInternet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientTwoTvSateliteCableInternet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientTwoPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientTwoPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientTwoTransportation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientTwoTransportation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientTwoFinancials)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientTwoFinancials)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientTwoLoansCreditStoreCardRepayments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientTwoLoansCreditStoreCardRepayments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientTwoSavings)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientTwoSavings)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientTwoInsurance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientTwoInsurance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientTwoPensionContributions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientTwoPensionContributions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientTwoMiscellaneious)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientTwoMiscellaneious)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientTwoHolidays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientTwoHolidays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientTwoRegularSubscriptions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientTwoRegularSubscriptions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientTwoClothing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientTwoClothing)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientTwoOther)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientTwoOther)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientTwoTotalOutgoings)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientTwoTotalOutgoings)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientTwoSurplusIncome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientTwoSurplusIncome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientTwoFinancialGoalCommitment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientTwoFinancialGoalCommitment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OutGoingsNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OutGoingsNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDateTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
