@model HboFactFind.Domain.Pages.PageSix

@{
    ViewBag.Title = "Expenditure";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
    <h3>Expenditure</h3>
        @Html.Partial("_EditNavigationBar", new KeyValuePair<string, long>("Expenditure", Model.Id))

    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
    @Html.HiddenFor(model => model.Id)
        <div class="hboDetailRow row">
            <div class="col-xs-12">
                <div class="headerStyle col-xs-12 col-sm-4">
                </div>
                <div class="columnTitle col-xs-12 col-sm-8">
                    <div class="col-xs-12 col-sm-4">
                        <strong>Client One</strong>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <strong>Client Two</strong>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <strong>Joint</strong>
                    </div>
                </div>
            </div>
        </div>
    <div class="form-group">
        <div class="hboDetailRow row">
            <div class="col-xs-12">
                <div class="headerStyle col-xs-12 col-sm-4">
                    @Html.LabelFor(model => model.ClientOneMortageRent)
                </div>
                <div class="fieldStyle col-xs-12 col-sm-8">
                    <div class="topTFStyle col-xs-12 col-sm-4">
                        @Html.EditorFor(model => model.ClientOneMortageRent, new { htmlAttributes = new { @class = "form-control clientOne" } })
                        @Html.ValidationMessageFor(model => model.ClientOneMortageRent, "", new {@class = "text-danger"})
                    </div>
                    <div class="bottomTFStyle col-xs-12 col-sm-4">
                        @Html.EditorFor(model => model.ClientTwoMortageRent, new { htmlAttributes = new { @class = "form-control clientTwo" } })
                        @Html.ValidationMessageFor(model => model.ClientTwoMortageRent, "", new {@class = "text-danger"})
                    </div>
                    <div class="bottomTFStyle col-xs-12 col-sm-4">
                        @Html.EditorFor(model => model.JointMortageRent, new { htmlAttributes = new { @class = "form-control clientJoint" } })
                        @Html.ValidationMessageFor(model => model.JointMortageRent, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="hboDetailRow row">
            <div class="col-xs-12">
                <div class="headerStyle col-xs-12 col-sm-4">
                    @Html.LabelFor(model => model.ClientOneCouncilTax)
                </div>
                <div class="fieldStyle col-xs-12 col-sm-8">
                    <div class="topTFStyle col-xs-12 col-sm-4">
                        @Html.EditorFor(model => model.ClientOneCouncilTax, new { htmlAttributes = new { @class = "form-control clientOne" } })
                        @Html.ValidationMessageFor(model => model.ClientOneCouncilTax, "", new {@class = "text-danger"})
                    </div>
                    <div class="bottomTFStyle col-xs-12 col-sm-4">
                        @Html.EditorFor(model => model.ClientTwoCouncilTax, new { htmlAttributes = new { @class = "form-control clientTwo" } })
                        @Html.ValidationMessageFor(model => model.ClientTwoCouncilTax, "", new {@class = "text-danger"})
                    </div>
                    <div class="bottomTFStyle col-xs-12 col-sm-4">
                        @Html.EditorFor(model => model.JointMortageRent, new { htmlAttributes = new { @class = "form-control clientJoint" } })
                        @Html.ValidationMessageFor(model => model.JointMortageRent, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="hboDetailRow row">
            <div class="col-xs-12">
                <div class="headerStyle col-xs-12 col-sm-4">
                    @Html.LabelFor(model => model.ClientOneUtilities)
                </div>
                <div class="fieldStyle col-xs-12 col-sm-8">
                    <div class="topTFStyle col-xs-12 col-sm-4">
                        @Html.EditorFor(model => model.ClientOneUtilities, new {htmlAttributes = new {@class = "form-control clientOne"}})
                        @Html.ValidationMessageFor(model => model.ClientOneUtilities, "", new {@class = "text-danger"})
                    </div>
                    <div class="bottomTFStyle col-xs-12 col-sm-4">
                        @Html.EditorFor(model => model.ClientTwoUtilities, new { htmlAttributes = new { @class = "form-control clientTwo" } })
                        @Html.ValidationMessageFor(model => model.ClientTwoUtilities, "", new {@class = "text-danger"})
                    </div>
                    <div class="bottomTFStyle col-xs-12 col-sm-4">
                        @Html.EditorFor(model => model.JointMortageRent, new { htmlAttributes = new { @class = "form-control clientJoint" } })
                        @Html.ValidationMessageFor(model => model.JointMortageRent, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="hboDetailRow row">
            <div class="col-xs-12">
                <div class="headerStyle col-xs-12 col-sm-4">
                    @Html.LabelFor(model => model.ClientOneFoodShopping)
                </div>
                <div class="fieldStyle col-xs-12 col-sm-8">
                    <div class="topTFStyle col-xs-12 col-sm-4">
                        @Html.EditorFor(model => model.ClientOneFoodShopping, new { htmlAttributes = new { @class = "form-control clientOne" } })
                        @Html.ValidationMessageFor(model => model.ClientOneFoodShopping, "", new {@class = "text-danger"})
                    </div>
                    <div class="bottomTFStyle col-xs-12 col-sm-4">
                        @Html.EditorFor(model => model.ClientTwoFoodShopping, new { htmlAttributes = new { @class = "form-control clientTwo" } })
                        @Html.ValidationMessageFor(model => model.ClientTwoFoodShopping, "", new {@class = "text-danger"})
                    </div>
                    <div class="bottomTFStyle col-xs-12 col-sm-4">
                        @Html.EditorFor(model => model.JointMortageRent, new { htmlAttributes = new { @class = "form-control clientJoint" } })
                        @Html.ValidationMessageFor(model => model.JointMortageRent, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="hboDetailRow row">
            <div class="col-xs-12">
                <div class="headerStyle col-xs-12 col-sm-4">
                    @Html.LabelFor(model => model.ClientOneTvSateliteCableInternet)
                </div>
                <div class="fieldStyle col-xs-12 col-sm-8">
                    <div class="topTFStyle col-xs-12 col-sm-4">
                        @Html.EditorFor(model => model.ClientOneTvSateliteCableInternet, new { htmlAttributes = new { @class = "form-control clientOne" } })
                        @Html.ValidationMessageFor(model => model.ClientOneTvSateliteCableInternet, "", new {@class = "text-danger"})
                    </div>
                    <div class="bottomTFStyle col-xs-12 col-sm-4">
                        @Html.EditorFor(model => model.ClientTwoTvSateliteCableInternet, new { htmlAttributes = new { @class = "form-control clientTwo" } })
                        @Html.ValidationMessageFor(model => model.ClientTwoTvSateliteCableInternet, "", new {@class = "text-danger"})
                    </div>
                    <div class="bottomTFStyle col-xs-12 col-sm-4">
                        @Html.EditorFor(model => model.JointMortageRent, new { htmlAttributes = new { @class = "form-control clientJoint" } })
                        @Html.ValidationMessageFor(model => model.JointMortageRent, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="hboDetailRow row">
            <div class="col-xs-12">
                <div class="headerStyle col-xs-12 col-sm-4">
                    @Html.LabelFor(model => model.ClientOnePhone)
                </div>
                <div class="fieldStyle col-xs-12 col-sm-8">
                    <div class="topTFStyle col-xs-12 col-sm-4">
                        @Html.EditorFor(model => model.ClientOnePhone, new { htmlAttributes = new { @class = "form-control clientOne" } })
                        @Html.ValidationMessageFor(model => model.ClientOnePhone, "", new {@class = "text-danger"})
                    </div>
                    <div class="bottomTFStyle col-xs-12 col-sm-4">
                        @Html.EditorFor(model => model.ClientTwoPhone, new { htmlAttributes = new { @class = "form-control clientTwo" } })
                        @Html.ValidationMessageFor(model => model.ClientTwoPhone, "", new {@class = "text-danger"})
                    </div>
                    <div class="bottomTFStyle col-xs-12 col-sm-4">
                        @Html.EditorFor(model => model.JointMortageRent, new { htmlAttributes = new { @class = "form-control clientJoint" } })
                        @Html.ValidationMessageFor(model => model.JointMortageRent, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="hboDetailRow row">
            <div class="col-xs-12">
                <div class="headerStyle col-xs-12 col-sm-4">
                    @Html.LabelFor(model => model.ClientOneTransportation)
                </div>
                <div class="fieldStyle col-xs-12 col-sm-8">
                    <div class="topTFStyle col-xs-12 col-sm-4">
                        @Html.EditorFor(model => model.ClientOneTransportation, new { htmlAttributes = new { @class = "form-control clientOne" } })
                        @Html.ValidationMessageFor(model => model.ClientOneTransportation, "", new {@class = "text-danger"})
                    </div>
                    <div class="bottomTFStyle col-xs-12 col-sm-4">
                        @Html.EditorFor(model => model.ClientTwoTransportation, new { htmlAttributes = new { @class = "form-control clientTwo" } })
                        @Html.ValidationMessageFor(model => model.ClientTwoTransportation, "", new {@class = "text-danger"})
                    </div>
                    <div class="bottomTFStyle col-xs-12 col-sm-4">
                        @Html.EditorFor(model => model.JointMortageRent, new { htmlAttributes = new { @class = "form-control clientJoint" } })
                        @Html.ValidationMessageFor(model => model.JointMortageRent, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="hboDetailRow row">
            <div class="col-xs-12">
                <div class="headerStyle col-xs-12 col-sm-4">
                    @Html.LabelFor(model => model.ClientOneFinancials)
                </div>
                <div class="fieldStyle col-xs-12 col-sm-8">
                    <div class="topTFStyle col-xs-12 col-sm-4">
                        @Html.EditorFor(model => model.ClientOneFinancials, new { htmlAttributes = new { @class = "form-control clientOne" } })
                        @Html.ValidationMessageFor(model => model.ClientOneFinancials, "", new {@class = "text-danger"})
                    </div>
                    <div class="bottomTFStyle col-xs-12 col-sm-4">
                        @Html.EditorFor(model => model.ClientTwoFinancials, new { htmlAttributes = new { @class = "form-control clientTwo" } })
                        @Html.ValidationMessageFor(model => model.ClientTwoFinancials, "", new {@class = "text-danger"})
                    </div>
                    <div class="bottomTFStyle col-xs-12 col-sm-4">
                        @Html.EditorFor(model => model.JointMortageRent, new { htmlAttributes = new { @class = "form-control clientJoint" } })
                        @Html.ValidationMessageFor(model => model.JointMortageRent, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="hboDetailRow row">
            <div class="col-xs-12">
                <div class="headerStyle col-xs-12 col-sm-4">
                    @Html.LabelFor(model => model.ClientOneLoansCreditStoreCardRepayments)
                </div>
                <div class="fieldStyle col-xs-12 col-sm-8">
                    <div class="topTFStyle col-xs-12 col-sm-4">
                        @Html.EditorFor(model => model.ClientOneLoansCreditStoreCardRepayments, new { htmlAttributes = new { @class = "form-control clientOne" } })
                        @Html.ValidationMessageFor(model => model.ClientOneLoansCreditStoreCardRepayments, "", new {@class = "text-danger"})
                    </div>
                    <div class="bottomTFStyle col-xs-12 col-sm-4">
                        @Html.EditorFor(model => model.ClientTwoLoansCreditStoreCardRepayments, new { htmlAttributes = new { @class = "form-control clientTwo" } })
                        @Html.ValidationMessageFor(model => model.ClientTwoLoansCreditStoreCardRepayments, "", new {@class = "text-danger"})
                    </div>
                    <div class="bottomTFStyle col-xs-12 col-sm-4">
                        @Html.EditorFor(model => model.JointMortageRent, new { htmlAttributes = new { @class = "form-control clientJoint" } })
                        @Html.ValidationMessageFor(model => model.JointMortageRent, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="hboDetailRow row">
            <div class="col-xs-12">
                <div class="headerStyle col-xs-12 col-sm-4">
                    @Html.LabelFor(model => model.ClientOneSavings)
                </div>
                <div class="fieldStyle col-xs-12 col-sm-8">
                    <div class="topTFStyle col-xs-12 col-sm-4">
                        @Html.EditorFor(model => model.ClientOneSavings, new { htmlAttributes = new { @class = "form-control clientOne" } })
                        @Html.ValidationMessageFor(model => model.ClientOneSavings, "", new {@class = "text-danger"})
                    </div>
                    <div class="bottomTFStyle col-xs-12 col-sm-4">
                        @Html.EditorFor(model => model.ClientTwoSavings, new { htmlAttributes = new { @class = "form-control clientTwo" } })
                        @Html.ValidationMessageFor(model => model.ClientTwoSavings, "", new {@class = "text-danger"})
                    </div>
                    <div class="bottomTFStyle col-xs-12 col-sm-4">
                        @Html.EditorFor(model => model.JointMortageRent, new { htmlAttributes = new { @class = "form-control clientJoint" } })
                        @Html.ValidationMessageFor(model => model.JointMortageRent, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="hboDetailRow row">
            <div class="col-xs-12">
                <div class="headerStyle col-xs-12 col-sm-4">
                    @Html.LabelFor(model => model.ClientOneInsurance)
                </div>
                <div class="fieldStyle col-xs-12 col-sm-8">
                    <div class="topTFStyle col-xs-12 col-sm-4">
                        @Html.EditorFor(model => model.ClientOneInsurance, new { htmlAttributes = new { @class = "form-control clientOne" } })
                        @Html.ValidationMessageFor(model => model.ClientOneInsurance, "", new {@class = "text-danger"})
                    </div>
                    <div class="bottomTFStyle col-xs-12 col-sm-4">
                        @Html.EditorFor(model => model.ClientTwoInsurance, new { htmlAttributes = new { @class = "form-control clientTwo" } })
                        @Html.ValidationMessageFor(model => model.ClientTwoInsurance, "", new {@class = "text-danger"})
                    </div>
                    <div class="bottomTFStyle col-xs-12 col-sm-4">
                        @Html.EditorFor(model => model.JointMortageRent, new { htmlAttributes = new { @class = "form-control clientJoint" } })
                        @Html.ValidationMessageFor(model => model.JointMortageRent, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="hboDetailRow row">
            <div class="col-xs-12">
                <div class="headerStyle col-xs-12 col-sm-4">
                    @Html.LabelFor(model => model.ClientOnePensionContributions)
                </div>
                <div class="fieldStyle col-xs-12 col-sm-8">
                    <div class="topTFStyle col-xs-12 col-sm-4">
                        @Html.EditorFor(model => model.ClientOnePensionContributions, new { htmlAttributes = new { @class = "form-control clientOne" } })
                        @Html.ValidationMessageFor(model => model.ClientOnePensionContributions, "", new {@class = "text-danger"})
                    </div>
                    <div class="bottomTFStyle col-xs-12 col-sm-4">
                        @Html.EditorFor(model => model.ClientTwoPensionContributions, new { htmlAttributes = new { @class = "form-control clientTwo" } })
                        @Html.ValidationMessageFor(model => model.ClientTwoPensionContributions, "", new {@class = "text-danger"})
                    </div>
                    <div class="bottomTFStyle col-xs-12 col-sm-4">
                        @Html.EditorFor(model => model.JointMortageRent, new { htmlAttributes = new { @class = "form-control clientJoint" } })
                        @Html.ValidationMessageFor(model => model.JointMortageRent, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="hboDetailRow row">
            <div class="col-xs-12">
                <div class="headerStyle col-xs-12 col-sm-4">
                    @Html.LabelFor(model => model.ClientOneMiscellaneious)
                </div>
                <div class="fieldStyle col-xs-12 col-sm-8">
                    <div class="topTFStyle col-xs-12 col-sm-4">
                        @Html.EditorFor(model => model.ClientOneMiscellaneious, new { htmlAttributes = new { @class = "form-control clientOne" } })
                        @Html.ValidationMessageFor(model => model.ClientOneMiscellaneious, "", new {@class = "text-danger"})
                    </div>
                    <div class="bottomTFStyle col-xs-12 col-sm-4">
                        @Html.EditorFor(model => model.ClientTwoMiscellaneious, new { htmlAttributes = new { @class = "form-control clientTwo" } })
                        @Html.ValidationMessageFor(model => model.ClientTwoMiscellaneious, "", new {@class = "text-danger"})
                    </div>
                    <div class="bottomTFStyle col-xs-12 col-sm-4">
                        @Html.EditorFor(model => model.JointMortageRent, new { htmlAttributes = new { @class = "form-control clientJoint" } })
                        @Html.ValidationMessageFor(model => model.JointMortageRent, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="hboDetailRow row">
            <div class="col-xs-12">
                <div class="headerStyle col-xs-12 col-sm-4">
                    @Html.LabelFor(model => model.ClientOneHolidays)
                </div>
                <div class="fieldStyle col-xs-12 col-sm-8">
                    <div class="topTFStyle col-xs-12 col-sm-4">
                        @Html.EditorFor(model => model.ClientOneHolidays, new { htmlAttributes = new { @class = "form-control clientOne" } })
                        @Html.ValidationMessageFor(model => model.ClientOneHolidays, "", new {@class = "text-danger"})
                    </div>
                    <div class="bottomTFStyle col-xs-12 col-sm-4">
                        @Html.EditorFor(model => model.ClientTwoHolidays, new { htmlAttributes = new { @class = "form-control clientTwo" } })
                        @Html.ValidationMessageFor(model => model.ClientTwoHolidays, "", new {@class = "text-danger"})
                    </div>
                    <div class="bottomTFStyle col-xs-12 col-sm-4">
                        @Html.EditorFor(model => model.JointMortageRent, new { htmlAttributes = new { @class = "form-control clientJoint" } })
                        @Html.ValidationMessageFor(model => model.JointMortageRent, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="hboDetailRow row">
            <div class="col-xs-12">
                <div class="headerStyle col-xs-12 col-sm-4">
                    @Html.LabelFor(model => model.ClientOneRegularSubscriptions)
                </div>
                <div class="fieldStyle col-xs-12 col-sm-8">
                    <div class="topTFStyle col-xs-12 col-sm-4">
                        @Html.EditorFor(model => model.ClientOneRegularSubscriptions, new { htmlAttributes = new { @class = "form-control clientOne" } })
                        @Html.ValidationMessageFor(model => model.ClientOneRegularSubscriptions, "", new {@class = "text-danger"})
                    </div>
                    <div class="bottomTFStyle col-xs-12 col-sm-4">
                        @Html.EditorFor(model => model.ClientTwoRegularSubscriptions, new { htmlAttributes = new { @class = "form-control clientTwo" } })
                        @Html.ValidationMessageFor(model => model.ClientTwoRegularSubscriptions, "", new {@class = "text-danger"})
                    </div>
                    <div class="bottomTFStyle col-xs-12 col-sm-4">
                        @Html.EditorFor(model => model.JointMortageRent, new { htmlAttributes = new { @class = "form-control clientJoint" } })
                        @Html.ValidationMessageFor(model => model.JointMortageRent, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="hboDetailRow row">
            <div class="col-xs-12">
                <div class="headerStyle col-xs-12 col-sm-4">
                    @Html.LabelFor(model => model.ClientOneClothing)
                </div>
                <div class="fieldStyle col-xs-12 col-sm-8">
                    <div class="topTFStyle col-xs-12 col-sm-4">
                        @Html.EditorFor(model => model.ClientOneClothing, new { htmlAttributes = new { @class = "form-control clientOne" } })
                        @Html.ValidationMessageFor(model => model.ClientOneClothing, "", new {@class = "text-danger"})
                    </div>
                    <div class="bottomTFStyle col-xs-12 col-sm-4">
                        @Html.EditorFor(model => model.ClientTwoClothing, new { htmlAttributes = new { @class = "form-control clientTwo" } })
                        @Html.ValidationMessageFor(model => model.ClientTwoClothing, "", new {@class = "text-danger"})
                    </div>
                    <div class="bottomTFStyle col-xs-12 col-sm-4">
                        @Html.EditorFor(model => model.JointMortageRent, new { htmlAttributes = new { @class = "form-control clientJoint" } })
                        @Html.ValidationMessageFor(model => model.JointMortageRent, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="hboDetailRow row">
            <div class="col-xs-12">
                <div class="headerStyle col-xs-12 col-sm-4">
                    @Html.LabelFor(model => model.ClientOneOther)
                </div>
                <div class="fieldStyle col-xs-12 col-sm-8">
                    <div class="topTFStyle col-xs-12 col-sm-4">
                        @Html.EditorFor(model => model.ClientOneOther, new { htmlAttributes = new { @class = "form-control clientOne" } })
                        @Html.ValidationMessageFor(model => model.ClientOneOther, "", new {@class = "text-danger"})
                    </div>
                    <div class="bottomTFStyle col-xs-12 col-sm-4">
                        @Html.EditorFor(model => model.ClientTwoOther, new { htmlAttributes = new { @class = "form-control clientTwo" } })
                        @Html.ValidationMessageFor(model => model.ClientTwoOther, "", new {@class = "text-danger"})
                    </div>
                    <div class="bottomTFStyle col-xs-12 col-sm-4">
                        @Html.EditorFor(model => model.JointMortageRent, new { htmlAttributes = new { @class = "form-control clientJoint" } })
                        @Html.ValidationMessageFor(model => model.JointMortageRent, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="hboDetailRow row">
            <div class="col-xs-12">
                <div class="headerStyle col-xs-12 col-sm-4">
                    @Html.LabelFor(model => model.ClientOneTotalOutgoings)
                </div>
                <div class="fieldStyle col-xs-12 col-sm-8">
                    <div class="topTFStyle col-xs-12 col-sm-4">
                        @Html.EditorFor(model => model.ClientOneTotalOutgoings, new { htmlAttributes = new { @class = "form-control clientOneTotalAnnualOutgoings" } })
                        @Html.ValidationMessageFor(model => model.ClientOneTotalOutgoings, "", new {@class = "text-danger"})
                    </div>
                    <div class="bottomTFStyle col-xs-12 col-sm-4">
                        @Html.EditorFor(model => model.ClientTwoTotalOutgoings, new { htmlAttributes = new { @class = "form-control clientTwoTotalAnnualOutgoings" } })
                        @Html.ValidationMessageFor(model => model.ClientTwoTotalOutgoings, "", new {@class = "text-danger"})
                    </div>
                    <div class="bottomTFStyle col-xs-12 col-sm-4">
                        @Html.EditorFor(model => model.JointMortageRent, new { htmlAttributes = new { @class = "form-control clientJointTotalAnnualOutgoings" } })
                        @Html.ValidationMessageFor(model => model.JointMortageRent, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>
        </div>
    </div>
        <script type="text/javascript">
        $(document).ready(function () {
            updateTotalInputFields('.clientOne', '.clientOneTotalAnnualOutgoings', function () { });
            updateTotalInputFields('.clientTwo', '.clientTwoTotalAnnualOutgoings', function () { });
            updateTotalInputFields('.clientJoint', '.clientJointTotalAnnualOutgoings', function () { });
        });
        </script>
        <div class="form-group">
            <div class="hboDetailRow row">

            </div>
        </div>
    <div class="form-group">
        <div class="hboDetailRow row">
            <div class="col-xs-12">
                <div class="headerStyle col-xs-12 col-sm-4">
                    @Html.LabelFor(model => model.ClientOneSurplusIncome)
                </div>
                <div class="fieldStyle col-xs-12 col-sm-8">
                    <div class="topTFStyle col-xs-12 col-sm-4">
                        @Html.EditorFor(model => model.ClientOneSurplusIncome, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.ClientOneSurplusIncome, "", new {@class = "text-danger"})
                    </div>
                    <div class="bottomTFStyle col-xs-12 col-sm-4">
                        @Html.EditorFor(model => model.ClientTwoSurplusIncome, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.ClientTwoSurplusIncome, "", new {@class = "text-danger"})
                    </div>
                    <div class="bottomTFStyle col-xs-12 col-sm-4">
                        @Html.EditorFor(model => model.JointMortageRent, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.JointMortageRent, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="form-group">
            <div class="hboDetailRow row">

            </div>
        </div>
    <div class="form-group">
        <div class="hboDetailRow row">
            <div class="col-xs-12">
                <div class="headerStyle col-xs-12 col-sm-4">
                    @Html.LabelFor(model => model.ClientOneFinancialGoalCommitment)
                </div>
                <div class="fieldStyle col-xs-12 col-sm-8">
                    <div class="topTFStyle col-xs-12 col-sm-4">
                        @Html.EditorFor(model => model.ClientOneFinancialGoalCommitment, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.ClientOneFinancialGoalCommitment, "", new {@class = "text-danger"})
                    </div>
                    <div class="bottomTFStyle col-xs-12 col-sm-4">
                        @Html.EditorFor(model => model.ClientTwoFinancialGoalCommitment, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.ClientTwoFinancialGoalCommitment, "", new {@class = "text-danger"})
                    </div>
                    <div class="bottomTFStyle col-xs-12 col-sm-4">
                        @Html.EditorFor(model => model.JointMortageRent, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.JointMortageRent, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="form-group">
            <div class="hboDetailRow row">

            </div>
        </div>
    <div class="form-group">
        <div class="hboDetailRowNoBorder row">
            <div class="col-xs-12">
                <div class="headerStyle col-xs-12 col-sm-4">
                    @Html.LabelFor(model => model.OutGoingsNotes)
                </div>
                <div class="fieldStyle col-xs-12 col-sm-8">
                    <div class="topTFStyle col-xs-12">
                        @Html.EditorFor(model => model.OutGoingsNotes, new {htmlAttributes = new {@class = "form-control", placeholder="*Please provide details Please also add notes on any annual expenditure not included in the above table such as Christmas gifts etc. If addition income is required please detail below: the amount of additional income required, the frequency of the payment, start date and an idea of why this income is required e.g. for living expenses, to fund holidays etc"}})
                        @Html.ValidationMessageFor(model => model.OutGoingsNotes, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="buttonPanel col-xs-12">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
    </div>
}

<div class="factFindEditReturnButton">
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}