@model HboFactFind.Domain.Pages.PageFive

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PageFive</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FactFind.ClientOneName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FactFind.ClientOneName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientOneGrossEmploymentIncome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientOneGrossEmploymentIncome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientOneGrossSelfEmploymentIncome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientOneGrossSelfEmploymentIncome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientOneGroddPrivatePensionIncome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientOneGroddPrivatePensionIncome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientOneGrossStatePension)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientOneGrossStatePension)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientOneAdditionalIncome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientOneAdditionalIncome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientOneTotalAnnualIncome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientOneTotalAnnualIncome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientOneTotalGrossMonthlyIncome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientOneTotalGrossMonthlyIncome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientOneTotalNetMonthlyIncome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientOneTotalNetMonthlyIncome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientOneTaxRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientOneTaxRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientOneAnyChangesToIncome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientOneAnyChangesToIncome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientOneAnyChangesToTax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientOneAnyChangesToTax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientOneIncomeNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientOneIncomeNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientTwoGrossEmploymentIncome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientTwoGrossEmploymentIncome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientTwoGrossSelfEmploymentIncome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientTwoGrossSelfEmploymentIncome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientTwoGroddPrivatePensionIncome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientTwoGroddPrivatePensionIncome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientTwoGrossStatePension)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientTwoGrossStatePension)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientTwoAdditionalIncome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientTwoAdditionalIncome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientTwoTotalAnnualIncome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientTwoTotalAnnualIncome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientTwoTotalGrossMonthlyIncome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientTwoTotalGrossMonthlyIncome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientTwoTotalNetMonthlyIncome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientTwoTotalNetMonthlyIncome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientTwoTaxRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientTwoTaxRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientTwoAnyChangesToIncome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientTwoAnyChangesToIncome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientTwoAnyChangesToTax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientTwoAnyChangesToTax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientTwoIncomeNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientTwoIncomeNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDateTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
