@model IEnumerable<HboFactFind.Domain.Questions.BreakDownOfLiabilities>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MoregateLoadCreditOwner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RepaymentType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RepaymentDate)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MoregateLoadCreditOwner)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RepaymentType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RepaymentDate)
        </td>
    </tr>
}

</table>
