@model IEnumerable<HboFactFind.Domain.Questions.ExistingPlans.ProtectionAndInsurancePolicies>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PageTen.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GrossPremium)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PremiumFrequency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Waiver)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InTrust)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Term)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LifeCover)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CICCover)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Provider)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PolicyNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductPlanType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InForce)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDateTime)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PageTen.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GrossPremium)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PremiumFrequency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Waiver)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InTrust)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Term)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LifeCover)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CICCover)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Provider)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PolicyNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPlanType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InForce)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDateTime)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
