@model HboFactFind.Domain.Pages.PageEight

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Emergancy Fund</h4>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            <div class="hboDetailRow row">
                <div class="col-xs-12">
                    <div class="headerStyle col-xs-12 col-sm-4">
                        @Html.LabelFor(model => model.ClientOneRequiredEmergancyFund)
                    </div>
                    <div class="fieldStyle col-xs-12 col-sm-8">
                        <div class="topTFStyle col-xs-12 col-sm-6">
                            @Html.EditorFor(model => model.ClientOneRequiredEmergancyFund, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.ClientOneRequiredEmergancyFund, "", new {@class = "text-danger"})
                        </div>
                        <div class="bottomTFStyle col-xs-12 col-sm-6">
                            @Html.EditorFor(model => model.ClientTwoRequiredEmergancyFund, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.ClientTwoRequiredEmergancyFund, "", new {@class = "text-danger"})
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="hboDetailRow row">
                <div class="col-xs-12">
                    <div class="headerStyle col-xs-12 col-sm-4">
                        @Html.LabelFor(model => model.ClientOnePlannedExpenditure)
                    </div>
                    <div class="fieldStyle col-xs-12 col-sm-8">
                        <div class="topTFStyle col-xs-12 col-sm-6">
                            @Html.EditorFor(model => model.ClientOnePlannedExpenditure, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.ClientOnePlannedExpenditure, "", new {@class = "text-danger"})
                        </div>
                        <div class="bottomTFStyle col-xs-12 col-sm-6">
                            @Html.EditorFor(model => model.ClientTwoPlannedExpenditure, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.ClientTwoPlannedExpenditure, "", new {@class = "text-danger"})
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="hboDetailRow row">
                <div class="col-xs-12">
                    <div class="headerStyle col-xs-12 col-sm-4">
                        @Html.LabelFor(model => model.ClientOneMadeAWill)
                    </div>
                    <div class="fieldStyle col-xs-12 col-sm-8">
                        <div class="topTFStyle col-xs-12 col-sm-6">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.ClientOneMadeAWill)
                                @Html.ValidationMessageFor(model => model.ClientOneMadeAWill, "", new {@class = "text-danger"})
                            </div>
                        </div>
                        <div class="bottomTFStyle col-xs-12 col-sm-6">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.ClientTwoMadeAWill)
                                @Html.ValidationMessageFor(model => model.ClientTwoMadeAWill, "", new {@class = "text-danger"})
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="hboDetailRow row">
                <div class="col-xs-12">
                    <div class="headerStyle col-xs-12 col-sm-4">
                        @Html.LabelFor(model => model.Notes)
                    </div>
                    <div class="fieldStyle col-xs-12 col-sm-8">
                        <div class="topTFStyle col-xs-12">
                            @Html.EditorFor(model => model.Notes, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.Notes, "", new {@class = "text-danger"})
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="buttonPanel col-xs-12">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}