@model HboFactFind.Domain.Questions.ExistingPlans.ProtectionAndInsurancePolicies


<div id="deleteProtectionDialog" title="Delete Protection & General Insurance Policy">
    <h3>Are you sure you want to delete this?</h3>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PageTen.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageTen.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GrossPremium)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrossPremium)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PremiumFrequency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PremiumFrequency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Waiver)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Waiver)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InTrust)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InTrust)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Term)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Term)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LifeCover)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LifeCover)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CICCover)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CICCover)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Owner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Provider)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Provider)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PolicyNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PolicyNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductPlanType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductPlanType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InForce)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InForce)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDateTime)
        </dd>

    </dl>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "deleteProtectionForm", id = "__AjaxAntiForgeryForm" }))
    {
        @Html.AntiForgeryToken()
    }
    <div class="modal-footer">
        <a href="#" class="btn btn-primary deleteProtectionLink">Delete</a>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $(".btn.deleteProtectionLink").on("click", function (e) {
            var frm = $(".deleteProtectionForm");
            var token = $('input[name="__RequestVerificationToken"]', frm).val();
            $.ajax({
                url: "/ProtectionAndInsurancePolicies/Delete?id=" + @Model.Id,
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                datatype: "html",
                headers: {
                    '__RequestVerificationToken': token
                },
                cache: false
            }).done(function (data) {
                location.reload();
            });
        });

        $(".protectionDeleteButton").on("click", function (e) {
            e.preventDefault();

            var elementId = e.currentTarget.id.replace("ppd_", "");

            $.ajax({
                url: "/ProtectionAndInsurancePolicies/Delete",
                type: 'GET',
                cache: false,
                data: { id: elementId }
            }).done(function (result) {
                $('#deleteProtectionDialog').html(result);
                $("#deleteProtectionDialog").dialog();
            });
        });
    });

</script>