@model IEnumerable<HboFactFind.Domain.Questions.ExistingPlans.ProtectionAndInsurancePolicies>

<table class="table protectionTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GrossPremium)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PremiumFrequency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Waiver)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InTrust)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Term)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LifeCover)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CICCover)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Owner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Provider)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PolicyNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductPlanType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InForce)
        </th>
        <th></th>
    </tr>

 @if (Model.Count() == 0)
 {
     <tr>
         <td colspan="13" class="empty">
             No Protection & General Insurance Policies
         </td>
     </tr>
 }
 else
 {
     foreach (var item in Model)
     {
         <tr>
             <td>
                 @Html.DisplayFor(modelItem => item.GrossPremium)
             </td>
             <td>
                 @Html.DisplayFor(modelItem => item.PremiumFrequency)
             </td>
             <td>
                 @Html.DisplayFor(modelItem => item.Waiver)
             </td>
             <td>
                 @Html.DisplayFor(modelItem => item.InTrust)
             </td>
             <td>
                 @Html.DisplayFor(modelItem => item.Term)
             </td>
             <td>
                 @Html.DisplayFor(modelItem => item.LifeCover)
             </td>
             <td>
                 @Html.DisplayFor(modelItem => item.CICCover)
             </td>
             <td>
                 @Html.DisplayFor(modelItem => item.Owner)
             </td>
             <td>
                 @Html.DisplayFor(modelItem => item.Provider)
             </td>
             <td>
                 @Html.DisplayFor(modelItem => item.PolicyNumber)
             </td>
             <td>
                 @Html.DisplayFor(modelItem => item.ProductPlanType)
             </td>
             <td>
                 @Html.DisplayFor(modelItem => item.InForce)
             </td>
             <td>
                 @Html.ActionLink("Edit", null, null, new {id = item.Id}, new {@id = "ppe_" + item.Id, @class = "protectionEditButton"}) |
                 @Html.ActionLink("Delete", null, null, new {id = item.Id}, new {@id = "ppd_" + item.Id, @class = "protectionDeleteButton"})
             </td>
         </tr>
     }
 }

</table>

<div class="buttonPanel col-xs-12">
    <input type="submit" id="addProtectionButton" value="Add Protection & General Insurance Policy" class="btn addProtectionButton btn-default" />
</div>


<script type="text/javascript">

    $(document).ready(function () {
        $(".addProtectionButton").on("click", function (e) {
            e.preventDefault();
            $("#createProtectionDialog").dialog();
        });
    });

</script>