@model HboFactFind.Domain.Pages.PageThree

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PageThree</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClientOneSolicitor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientOneSolicitor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientOneAccountant)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientOneAccountant)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientOneAdviserOther)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientOneAdviserOther)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientTwoSolicitor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientTwoSolicitor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientTwoAccountant)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientTwoAccountant)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientTwoAdviserOther)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientTwoAdviserOther)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDateTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
