@model HboFactFind.Domain.Pages.PageNine

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
    <h4>Financial Priorities</h4>
        <div class="hboDetailRowNoBorder row">
            <strong>Please indicate the relative importance of the following needs/objectives on a scale of 1 to 5. Insert 1 to indecate very important and 5 to indicate that you attach little importance to that item. *</strong>
        </div>

        <div class="hboDetailRow row">
            <div class="col-xs-12">
                <div class="headerStyle col-xs-12 col-sm-4">
                </div>
                <div class="columnTitle col-xs-12 col-sm-8">
                    <div class="col-xs-12 col-sm-6">
                        <strong>Client One</strong>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <strong>Client Two</strong>
                    </div>
                </div>
            </div>
        </div>

    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        <div class="hboDetailRow row">
            <div class="col-xs-12">
                <div class="headerStyle col-xs-12 col-sm-4">
                    @Html.LabelFor(model => model.ClientOnePersonalProtectionPriority)
                </div>
                <div class="fieldStyle col-xs-12 col-sm-8">
                    <div class="topTFStyle col-xs-12 col-sm-6">
                        @Html.DropDownList("ClientOnePersonalProtectionPriority", ViewData["RangeValues"] as SelectList, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ClientOnePersonalProtectionPriority, "", new {@class = "text-danger"})
                    </div>
                    <div class="bottomTFStyle col-xs-12 col-sm-6">
                        @Html.DropDownList("ClientTwoPersonalProtectionPriority", ViewData["RangeValues"] as SelectList, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ClientTwoPersonalProtectionPriority, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="hboDetailRow row">
            <div class="col-xs-12">
                <div class="headerStyle col-xs-12 col-sm-4">
                    @Html.LabelFor(model => model.ClientOnePensionPlanningPriority)
                </div>
                <div class="fieldStyle col-xs-12 col-sm-8">
                    <div class="topTFStyle col-xs-12 col-sm-6">
                        @Html.DropDownList("ClientOnePensionPlanningPriority", ViewData["RangeValues"] as SelectList, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ClientOnePensionPlanningPriority, "", new {@class = "text-danger"})
                    </div>
                    <div class="bottomTFStyle col-xs-12 col-sm-6">
                        @Html.DropDownList("ClientTwoPensionPlanningPriority", ViewData["RangeValues"] as SelectList, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ClientTwoPensionPlanningPriority, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="hboDetailRow row">
            <div class="col-xs-12">
                <div class="headerStyle col-xs-12 col-sm-4">
                    @Html.LabelFor(model => model.ClientOneOptionsAtRetirementPriority)
                </div>
                <div class="fieldStyle col-xs-12 col-sm-8">
                    <div class="topTFStyle col-xs-12 col-sm-6">
                        @Html.DropDownList("ClientOneOptionsAtRetirementPriority", ViewData["RangeValues"] as SelectList, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ClientOneOptionsAtRetirementPriority, "", new {@class = "text-danger"})
                    </div>
                    <div class="bottomTFStyle col-xs-12 col-sm-6">
                        @Html.DropDownList("ClientTwoOptionsAtRetirementPriority", ViewData["RangeValues"] as SelectList, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ClientTwoOptionsAtRetirementPriority, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="hboDetailRow row">
            <div class="col-xs-12">
                <div class="headerStyle col-xs-12 col-sm-4">
                    @Html.LabelFor(model => model.ClientOneSavingsAndInvestmentsPriority)
                </div>
                <div class="fieldStyle col-xs-12 col-sm-8">
                    <div class="topTFStyle col-xs-12 col-sm-6">
                        @Html.DropDownList("ClientOneSavingsAndInvestmentsPriority", ViewData["RangeValues"] as SelectList, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ClientOneSavingsAndInvestmentsPriority, "", new {@class = "text-danger"})
                    </div>
                    <div class="bottomTFStyle col-xs-12 col-sm-6">
                        @Html.DropDownList("ClientTwoSavingsAndInvestmentsPriority", ViewData["RangeValues"] as SelectList, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ClientTwoSavingsAndInvestmentsPriority, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="hboDetailRow row">
            <div class="col-xs-12">
                <div class="headerStyle col-xs-12 col-sm-4">
                    @Html.LabelFor(model => model.ClientOneEstatePlanningPriority)
                </div>
                <div class="fieldStyle col-xs-12 col-sm-8">
                    <div class="topTFStyle col-xs-12 col-sm-6">
                        @Html.DropDownList("ClientOneEstatePlanningPriority", ViewData["RangeValues"] as SelectList, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ClientOneEstatePlanningPriority, "", new {@class = "text-danger"})
                    </div>
                    <div class="bottomTFStyle col-xs-12 col-sm-6">
                        @Html.DropDownList("ClientTwoEstatePlanningPriority", ViewData["RangeValues"] as SelectList, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ClientTwoEstatePlanningPriority, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="hboDetailRow row">
            <div class="col-xs-12">
                <div class="headerStyle col-xs-12 col-sm-4">
                    @Html.LabelFor(model => model.ClientOneMortgageNeedsPriority)
                </div>
                <div class="fieldStyle col-xs-12 col-sm-8">
                    <div class="topTFStyle col-xs-12 col-sm-6">
                        @Html.DropDownList("ClientOneMortgageNeedsPriority", ViewData["RangeValues"] as SelectList, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ClientOneMortgageNeedsPriority, "", new {@class = "text-danger"})
                    </div>
                    <div class="bottomTFStyle col-xs-12 col-sm-6">
                        @Html.DropDownList("ClientTwoMortgageNeedsPriority", ViewData["RangeValues"] as SelectList, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ClientTwoMortgageNeedsPriority, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="hboDetailRow row">
            <div class="col-xs-12">
                <div class="headerStyle col-xs-12 col-sm-4">
                    @Html.LabelFor(model => model.ClientOneEquityReleasePriority)
                </div>
                <div class="fieldStyle col-xs-12 col-sm-8">
                    <div class="topTFStyle col-xs-12 col-sm-6">
                        @Html.DropDownList("ClientOneEquityReleasePriority", ViewData["RangeValues"] as SelectList, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ClientOneEquityReleasePriority, "", new {@class = "text-danger"})
                    </div>
                    <div class="bottomTFStyle col-xs-12 col-sm-6">
                        @Html.DropDownList("ClientTwoEquityReleasePriority", ViewData["RangeValues"] as SelectList, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ClientTwoEquityReleasePriority, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="hboDetailRow row">
            <div class="col-xs-12">
                <div class="headerStyle col-xs-12 col-sm-4">
                    @Html.LabelFor(model => model.ClientOneLongTermCarePriority)
                </div>
                <div class="fieldStyle col-xs-12 col-sm-8">
                    <div class="topTFStyle col-xs-12 col-sm-6">
                        @Html.DropDownList("ClientOneLongTermCarePriority", ViewData["RangeValues"] as SelectList, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ClientOneLongTermCarePriority, "", new {@class = "text-danger"})
                    </div>
                    <div class="bottomTFStyle col-xs-12 col-sm-6">
                        @Html.DropDownList("ClientTwoLongTermCarePriority", ViewData["RangeValues"] as SelectList, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ClientTwoLongTermCarePriority, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="hboDetailRow row">
            <div class="col-xs-12">
                <div class="headerStyle col-xs-12 col-sm-4">
                    @Html.LabelFor(model => model.ClientOneGeneralInsuranceNeedsPriority)
                </div>
                <div class="fieldStyle col-xs-12 col-sm-8">
                    <div class="topTFStyle col-xs-12 col-sm-6">
                        @Html.DropDownList("ClientOneGeneralInsuranceNeedsPriority", ViewData["RangeValues"] as SelectList, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ClientOneGeneralInsuranceNeedsPriority, "", new {@class = "text-danger"})
                    </div>
                    <div class="bottomTFStyle col-xs-12 col-sm-6">
                        @Html.DropDownList("ClientTwoGeneralInsuranceNeedsPriority", ViewData["RangeValues"] as SelectList, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ClientTwoGeneralInsuranceNeedsPriority, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>
        </div>
    </div>
        Appropriate supplementary fact finds should be completed to record further details for the areas where advice is required.

        <div class="hboDetailRow row"></div>

    <div class="form-group">
        <div class="hboDetailRow row">
            <div class="col-xs-12">
                <div class="headerStyle col-xs-12 col-sm-4">
                    @Html.LabelFor(model => model.Notes)
                </div>
                <div class="fieldStyle col-xs-12 col-sm-8">
                    <div class="topTFStyle col-xs-12">
                        @Html.EditorFor(model => model.Notes, new {htmlAttributes = new {@class = "form-control", placeholder="*The adviser is encouraged to add notes regarding why the client has chosen these priorities and what discussions have been where an adviser has considered a different need as a higher priority that that selected by the client. Please record more detail here regarding the clients specific objectives"}})
                        @Html.ValidationMessageFor(model => model.Notes, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="buttonPanel col-xs-12">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
    </div>
}

<div class="factFindEditReturnButton">
    @Html.ActionLink("Back to List", "Index", "FactFind")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}