@model HboFactFind.Domain.Pages.PageNine

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
    <h4>PageNine</h4>
    <hr/>
    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        <div class="hboDetailRow row">
            <div class="col-xs-12">
                <div class="headerStyle col-xs-12 col-sm-4">
                    @Html.LabelFor(model => model.ClientOnePersonalProtectionPriority)
                </div>
                <div class="fieldStyle col-xs-12 col-sm-8">
                    <div class="topTFStyle col-xs-12 col-sm-6">
                        @Html.EditorFor(model => model.ClientOnePersonalProtectionPriority, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.ClientOnePersonalProtectionPriority, "", new {@class = "text-danger"})
                    </div>
                    <div class="bottomTFStyle col-xs-12 col-sm-6">
                        @Html.EditorFor(model => model.ClientTwoPersonalProtectionPriority, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.ClientTwoPersonalProtectionPriority, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="hboDetailRow row">
            <div class="col-xs-12">
                <div class="headerStyle col-xs-12 col-sm-4">
                    @Html.LabelFor(model => model.ClientOnePensionPlanningPriority)
                </div>
                <div class="fieldStyle col-xs-12 col-sm-8">
                    <div class="topTFStyle col-xs-12 col-sm-6">
                        @Html.EditorFor(model => model.ClientOnePensionPlanningPriority, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.ClientOnePensionPlanningPriority, "", new {@class = "text-danger"})
                    </div>
                    <div class="bottomTFStyle col-xs-12 col-sm-6">
                        @Html.EditorFor(model => model.ClientTwoPensionPlanningPriority, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.ClientTwoPensionPlanningPriority, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="hboDetailRow row">
            <div class="col-xs-12">
                <div class="headerStyle col-xs-12 col-sm-4">
                    @Html.LabelFor(model => model.ClientOneOptionsAtRetirementPriority)
                </div>
                <div class="fieldStyle col-xs-12 col-sm-8">
                    <div class="topTFStyle col-xs-12 col-sm-6">
                        @Html.EditorFor(model => model.ClientOneOptionsAtRetirementPriority, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.ClientOneOptionsAtRetirementPriority, "", new {@class = "text-danger"})
                    </div>
                    <div class="bottomTFStyle col-xs-12 col-sm-6">
                        @Html.EditorFor(model => model.ClientTwoOptionsAtRetirementPriority, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.ClientTwoOptionsAtRetirementPriority, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="hboDetailRow row">
            <div class="col-xs-12">
                <div class="headerStyle col-xs-12 col-sm-4">
                    @Html.LabelFor(model => model.ClientOneSavingsAndInvestmentsPriority)
                </div>
                <div class="fieldStyle col-xs-12 col-sm-8">
                    <div class="topTFStyle col-xs-12 col-sm-6">
                        @Html.EditorFor(model => model.ClientOneSavingsAndInvestmentsPriority, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.ClientOneSavingsAndInvestmentsPriority, "", new {@class = "text-danger"})
                    </div>
                    <div class="bottomTFStyle col-xs-12 col-sm-6">
                        @Html.EditorFor(model => model.ClientTwoSavingsAndInvestmentsPriority, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.ClientTwoSavingsAndInvestmentsPriority, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="hboDetailRow row">
            <div class="col-xs-12">
                <div class="headerStyle col-xs-12 col-sm-4">
                    @Html.LabelFor(model => model.ClientOneEstatePlanningPriority)
                </div>
                <div class="fieldStyle col-xs-12 col-sm-8">
                    <div class="topTFStyle col-xs-12 col-sm-6">
                        @Html.EditorFor(model => model.ClientOneEstatePlanningPriority, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.ClientOneEstatePlanningPriority, "", new {@class = "text-danger"})
                    </div>
                    <div class="bottomTFStyle col-xs-12 col-sm-6">
                        @Html.EditorFor(model => model.ClientTwoEstatePlanningPriority, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.ClientTwoEstatePlanningPriority, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="hboDetailRow row">
            <div class="col-xs-12">
                <div class="headerStyle col-xs-12 col-sm-4">
                    @Html.LabelFor(model => model.ClientOneMortgageNeedsPriority)
                </div>
                <div class="fieldStyle col-xs-12 col-sm-8">
                    <div class="topTFStyle col-xs-12 col-sm-6">
                        @Html.EditorFor(model => model.ClientOneMortgageNeedsPriority, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.ClientOneMortgageNeedsPriority, "", new {@class = "text-danger"})
                    </div>
                    <div class="bottomTFStyle col-xs-12 col-sm-6">
                        @Html.EditorFor(model => model.ClientTwoMortgageNeedsPriority, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.ClientTwoMortgageNeedsPriority, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="hboDetailRow row">
            <div class="col-xs-12">
                <div class="headerStyle col-xs-12 col-sm-4">
                    @Html.LabelFor(model => model.ClientOneEquityReleasePriority)
                </div>
                <div class="fieldStyle col-xs-12 col-sm-8">
                    <div class="topTFStyle col-xs-12 col-sm-6">
                        @Html.EditorFor(model => model.ClientOneEquityReleasePriority, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.ClientOneEquityReleasePriority, "", new {@class = "text-danger"})
                    </div>
                    <div class="bottomTFStyle col-xs-12 col-sm-6">
                        @Html.EditorFor(model => model.ClientTwoEquityReleasePriority, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.ClientTwoEquityReleasePriority, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="hboDetailRow row">
            <div class="col-xs-12">
                <div class="headerStyle col-xs-12 col-sm-4">
                    @Html.LabelFor(model => model.ClientOneLongTermCarePriority)
                </div>
                <div class="fieldStyle col-xs-12 col-sm-8">
                    <div class="topTFStyle col-xs-12 col-sm-6">
                        @Html.EditorFor(model => model.ClientOneLongTermCarePriority, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.ClientOneLongTermCarePriority, "", new {@class = "text-danger"})
                    </div>
                    <div class="bottomTFStyle col-xs-12 col-sm-6">
                        @Html.EditorFor(model => model.ClientTwoLongTermCarePriority, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.ClientTwoLongTermCarePriority, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="hboDetailRow row">
            <div class="col-xs-12">
                <div class="headerStyle col-xs-12 col-sm-4">
                    @Html.LabelFor(model => model.ClientOneGeneralInsuranceNeedsPriority)
                </div>
                <div class="fieldStyle col-xs-12 col-sm-8">
                    <div class="topTFStyle col-xs-12 col-sm-6">
                        @Html.EditorFor(model => model.ClientOneGeneralInsuranceNeedsPriority, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.ClientOneGeneralInsuranceNeedsPriority, "", new {@class = "text-danger"})
                    </div>
                    <div class="bottomTFStyle col-xs-12 col-sm-6">
                        @Html.EditorFor(model => model.ClientTwoGeneralInsuranceNeedsPriority, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.ClientTwoGeneralInsuranceNeedsPriority, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="hboDetailRow row">
            <div class="col-xs-12">
                <div class="headerStyle col-xs-12 col-sm-4">
                    @Html.LabelFor(model => model.Notes)
                </div>
                <div class="fieldStyle col-xs-12 col-sm-8">
                    <div class="topTFStyle col-xs-12 col-sm-6">
                        @Html.EditorFor(model => model.Notes, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.Notes, "", new {@class = "text-danger"})
                    </div>
                    <div class="bottomTFStyle col-xs-12 col-sm-6">
                        @Html.EditorFor(model => model.ClientTwoPrioritiesNotes, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.ClientTwoPrioritiesNotes, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="buttonPanel col-xs-12">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}