@model IEnumerable<HboFactFind.Domain.FactFind>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PageEight.ClientOneRequiredEmergancyFund)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageFive.ClientOneIncomeNotes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageFour.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageNine.ClientOnePrioritiesNotes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageOne.ClientOneForename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageSeven.AssetsNotes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageSix.OutGoingsNotes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageTen.ExistingPlansNotes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageThree.ClientOneSolicitor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageTwo.ClientOneOccupation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientOneName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientTwoName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompletionDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageOneId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageTwoId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageThreeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageFourId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageFiveId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageSixId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageSevenId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageEightId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageNineId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageTenId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDateTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PageEight.ClientOneRequiredEmergancyFund)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PageFive.ClientOneIncomeNotes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PageFour.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PageNine.ClientOnePrioritiesNotes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PageOne.ClientOneForename)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PageSeven.AssetsNotes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PageSix.OutGoingsNotes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PageTen.ExistingPlansNotes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PageThree.ClientOneSolicitor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PageTwo.ClientOneOccupation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientOneName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientTwoName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompletionDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PageOneId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PageTwoId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PageThreeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PageFourId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PageFiveId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PageSixId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PageSevenId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PageEightId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PageNineId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PageTenId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDateTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
