@model IEnumerable<HboFactFind.Domain.Questions.Dependants.FinancialDependant>

<p>
    @Html.ActionLink("Create New", "Create", "FinancialDependants")
</p>
<table class="table financialDependantsTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DependantName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DependantOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgeOfIndependance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RelationshipAndReason)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DependantName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfBirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DependantOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgeOfIndependance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RelationshipAndReason)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}
    <tr>


</table>
