@model IEnumerable<HboFactFind.Domain.Questions.Dependants.FinancialDependant>

<table class="table financialDependantsTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DependantName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DependantOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgeOfIndependance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RelationshipAndReason)
        </th>
        <th></th>
    </tr>

@if (Model.Count() == 0)
{
    <tr>
        <td colspan="10" class="empty">
            No Dependants
        </td>
    </tr>
}
else
{
    foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DependantName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DependantOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgeOfIndependance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RelationshipAndReason)
            </td>
            <td>
                @Html.ActionLink("Edit", null, null, new {id = item.Id}, new {@id = "fde_" + item.Id, @class = "financialDepdnantEditButton"}) |
                @Html.ActionLink("Delete", null, null, new {id = item.Id}, new {@id = "fdd_" + item.Id, @class = "financialDepdnantDeleteButton"})
            </td>
        </tr>
    }
}
</table>

<div class="buttonPanel col-xs-12">
    <input type="submit" id="addFincancialDependantButton" value="Add Dependant" class="btn addFincancialDependantButton btn-default" />
</div>


<script type="text/javascript">

    $(document).ready(function () {
        $(".addFincancialDependantButton").on("click", function(e) {
            e.preventDefault();
            $("#createDialog").dialog();
        });
    });

</script>