@model IEnumerable<HboFactFind.Domain.Pages.PageFive>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*<p>*@
@*    @Html.ActionLink("Create New", "Create")*@
@*</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClientOneGrossEmploymentIncome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientOneGrossSelfEmploymentIncome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientOneGroddPrivatePensionIncome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientOneGrossStatePension)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientOneAdditionalIncome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientOneTotalAnnualIncome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientOneTotalGrossMonthlyIncome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientOneTotalNetMonthlyIncome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientOneTaxRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientOneAnyChangesToIncome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientOneAnyChangesToTax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientOneIncomeNotes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientTwoGrossEmploymentIncome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientTwoGrossSelfEmploymentIncome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientTwoGroddPrivatePensionIncome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientTwoGrossStatePension)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientTwoAdditionalIncome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientTwoTotalAnnualIncome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientTwoTotalGrossMonthlyIncome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientTwoTotalNetMonthlyIncome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientTwoTaxRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientTwoAnyChangesToIncome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientTwoAnyChangesToTax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientTwoIncomeNotes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDateTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClientOneGrossEmploymentIncome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientOneGrossSelfEmploymentIncome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientOneGroddPrivatePensionIncome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientOneGrossStatePension)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientOneAdditionalIncome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientOneTotalAnnualIncome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientOneTotalGrossMonthlyIncome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientOneTotalNetMonthlyIncome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientOneTaxRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientOneAnyChangesToIncome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientOneAnyChangesToTax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientOneIncomeNotes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientTwoGrossEmploymentIncome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientTwoGrossSelfEmploymentIncome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientTwoGroddPrivatePensionIncome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientTwoGrossStatePension)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientTwoAdditionalIncome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientTwoTotalAnnualIncome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientTwoTotalGrossMonthlyIncome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientTwoTotalNetMonthlyIncome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientTwoTaxRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientTwoAnyChangesToIncome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientTwoAnyChangesToTax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientTwoIncomeNotes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDateTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
