@model IEnumerable<HboFactFind.Domain.Questions.ExistingPlans.PensionPolicies>

<table class="table pensionTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Contribution)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Frequency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pci)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdditionalLifeCover)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastValuation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Owner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Provider)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PolicyNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductPlanType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InForce)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Contribution)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Frequency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pci)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdditionalLifeCover)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastValuation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Provider)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PolicyNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPlanType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InForce)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.Id})
            </td>
        </tr>
    }

</table>


<div class="buttonPanel col-xs-12">
    <input type="submit" id="addPensionButton" value="Add Dependant" class="btn addPensionButton btn-default" />
</div>


<script type="text/javascript">

    $(document).ready(function () {
        $(".addPensionButton").on("click", function (e) {
            e.preventDefault();
            $("#createPensionDialog").dialog();
        });
    });

</script>
