@model HboFactFind.Domain.Questions.BreakDownOfLiabilities

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BreakDownOfLiabilities</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PageSeven.AssetsNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageSeven.AssetsNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoregateLoadCreditOwner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoregateLoadCreditOwner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RepaymentType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RepaymentType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RepaymentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RepaymentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDateTime)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
