@model HboFactFind.Domain.Pages.PageSeven

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PageSeven</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClientOneHome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientOneHome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientOneOtherProperty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientOneOtherProperty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientOneCashDeposits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientOneCashDeposits)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientOneInvestmentBonds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientOneInvestmentBonds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientOnePensionFunds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientOnePensionFunds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientOneIsa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientOneIsa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientOneCollectives)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientOneCollectives)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientOneShares)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientOneShares)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientOneBuisnessAssets)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientOneBuisnessAssets)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientOneOtherAssets)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientOneOtherAssets)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientOneTotalAssets)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientOneTotalAssets)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientOneMainMortgage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientOneMainMortgage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientOneCreditCards)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientOneCreditCards)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientOneOverdraft)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientOneOverdraft)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientOneLoansHp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientOneLoansHp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientOneOtherMortgage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientOneOtherMortgage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientOneOtherLending)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientOneOtherLending)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientOneTotalDebt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientOneTotalDebt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientTwoHome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientTwoHome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientTwoOtherProperty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientTwoOtherProperty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientTwoCashDeposits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientTwoCashDeposits)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientTwoInvestmentBonds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientTwoInvestmentBonds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientTwoPensionFunds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientTwoPensionFunds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientTwoIsa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientTwoIsa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientTwoCollectives)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientTwoCollectives)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientTwoShares)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientTwoShares)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientTwoBuisnessAssets)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientTwoBuisnessAssets)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientTwoOtherAssets)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientTwoOtherAssets)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientTwoTotalAssets)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientTwoTotalAssets)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientTwoMainMortgage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientTwoMainMortgage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientTwoCreditCards)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientTwoCreditCards)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientTwoOverdraft)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientTwoOverdraft)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientTwoLoansHp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientTwoLoansHp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientTwoOtherMortgage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientTwoOtherMortgage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientTwoOtherLending)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientTwoOtherLending)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientTwoTotalDebt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientTwoTotalDebt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssetsNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssetsNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDateTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
