@model HboFactFind.Domain.Pages.PageFour

<div class="hboDetailRowNoBorder row">
    <div class="col-xs-12">
        <div class="headerStyle col-xs-12 col-sm-6">
            @Html.DisplayNameFor(model => model.AnyFinancialDependants)
        </div>
        <div class="fieldStyle col-xs-12 col-sm-6">
            <div class="topTFStyle col-xs-12">
                @Html.RadioButtonFor(model => model.AnyFinancialDependants, true) Yes
                @Html.RadioButtonFor(model => model.AnyFinancialDependants, false) No
            </div>
        </div>
    </div>
</div>

<div class="hboDetailRowNoBorder row">
    <h4>Dependants</h4>
    <div class="col-xs-12">
        @Html.Partial("~/Views/FinancialDependants/Partials/_FinancialDependantsIndex.cshtml", Model.FinancialDependants)
    </div>
</div>

<div class="hboDetailRowNoBorder row">
    <h4>Other non-financial dependants that you would like to condifer in relation to this advice</h4>
    <div class="col-xs-12">
        @Html.Partial("~/Views/NonFinancialDependants/Partials/_NonFinancialDependantIndex.cshtml", Model.NonFinancialDependantses)
    </div>
</div>

<div class="col-xs-12" style="text-align: center">
    <p>
        @Html.ActionLink("Edit", "PageFour", new {id = Model.Id})
    </p>
</div>