@model HboFactFind.Domain.Pages.PageOne

<div class="hboDetailRow row">
    <div class="col-xs-12">
        <div class="headerStyle col-xs-12 col-sm-4">
        </div>
        <div class="columnTitle col-xs-12 col-sm-8">
            <div class="col-xs-12 col-sm-6">
                <strong>Client One</strong>
            </div>
            <div class="col-xs-12 col-sm-6">
                <strong>Client Two</strong>
            </div>
        </div>
    </div>
</div>

<div class="hboDetailRow row">
    <div class="col-xs-12">
        <div class="headerStyle col-xs-12 col-sm-4">
            @Html.DisplayNameFor(model => model.ClientOneTitle)
        </div>
        <div class="fieldStyle col-xs-12 col-sm-8">
            <div class="topTFStyle col-xs-12 col-sm-6">
                @Html.DisplayFor(model => model.ClientOneTitle)
            </div>
            <div class="bottomTFStyle col-xs-12 col-sm-6">
                @Html.DisplayFor(model => model.ClientTwoTitle)
            </div>
        </div>
    </div>
</div>


<div class="hboDetailRow row">
    <div class="col-xs-12">
        <div class="headerStyle col-xs-12 col-sm-4">
            @Html.DisplayNameFor(model => model.ClientOneForename)
        </div>
        <div class="fieldStyle col-xs-12 col-sm-8">
            <div class="topTFStyle col-xs-12 col-sm-6">
                @Html.DisplayFor(model => model.ClientOneForename)
            </div>
            <div class="bottomTFStyle col-xs-12 col-sm-6">

                @Html.DisplayFor(model => model.ClientTwoForename)
            </div>
        </div>
    </div>
</div>


<div class="hboDetailRow row">
    <div class="col-xs-12">
        <div class="headerStyle col-xs-12 col-sm-4">
            @Html.DisplayNameFor(model => model.ClientOneSurnames)
        </div>
        <div class="fieldStyle col-xs-12 col-sm-8">
            <div class="topTFStyle col-xs-12 col-sm-6">
                @Html.DisplayFor(model => model.ClientOneSurnames)
            </div>
            <div class="bottomTFStyle col-xs-12 col-sm-6">

                @Html.DisplayFor(model => model.ClientTwoSurnames)
            </div>
        </div>
    </div>
</div>


<div class="hboDetailRow row">
    <div class="col-xs-12">
        <div class="headerStyle col-xs-12 col-sm-4">
            @Html.DisplayNameFor(model => model.ClientOneAddressLineOne)
        </div>
        <div class="fieldStyle col-xs-12 col-sm-8">
            <div class="topTFStyle col-xs-12 col-sm-6">
                @Html.DisplayFor(model => model.ClientOneAddressLineOne)
            </div>
            <div class="bottomTFStyle col-xs-12 col-sm-6">

                @Html.DisplayFor(model => model.ClientTwoAddressLineOne)
            </div>
        </div>
    </div>
</div>


<div class="hboDetailRow row">
    <div class="col-xs-12">
        <div class="headerStyle col-xs-12 col-sm-4">
            @Html.DisplayNameFor(model => model.ClientOneAddressLineTwo)
        </div>
        <div class="fieldStyle col-xs-12 col-sm-8">
            <div class="topTFStyle col-xs-12 col-sm-6">
                @Html.DisplayFor(model => model.ClientOneAddressLineTwo)
            </div>
            <div class="bottomTFStyle col-xs-12 col-sm-6">

                @Html.DisplayFor(model => model.ClientTwoAddressLineTwo)
            </div>
        </div>
    </div>
</div>


<div class="hboDetailRow row">
    <div class="col-xs-12">
        <div class="headerStyle col-xs-12 col-sm-4">
            @Html.DisplayNameFor(model => model.ClientOneAddressLineThree)
        </div>
        <div class="fieldStyle col-xs-12 col-sm-8">
            <div class="topTFStyle col-xs-12 col-sm-6">
                @Html.DisplayFor(model => model.ClientOneAddressLineThree)
            </div>
            <div class="bottomTFStyle col-xs-12 col-sm-6">

                @Html.DisplayFor(model => model.ClientTwoAddressLineThree)
            </div>
        </div>
    </div>
</div>


<div class="hboDetailRow row">
    <div class="col-xs-12">
        <div class="headerStyle col-xs-12 col-sm-4">
            @Html.DisplayNameFor(model => model.ClientOneCounty)
        </div>
        <div class="fieldStyle col-xs-12 col-sm-8">
            <div class="topTFStyle col-xs-12 col-sm-6">
                @Html.DisplayFor(model => model.ClientOneCounty)
            </div>
            <div class="bottomTFStyle col-xs-12 col-sm-6">

                @Html.DisplayFor(model => model.ClientTwoCounty)
            </div>
        </div>
    </div>
</div>


<div class="hboDetailRow row">
    <div class="col-xs-12">
        <div class="headerStyle col-xs-12 col-sm-4">
            @Html.DisplayNameFor(model => model.ClientOnePostCode)
        </div>
        <div class="fieldStyle col-xs-12 col-sm-8">
            <div class="topTFStyle col-xs-12 col-sm-6">
                @Html.DisplayFor(model => model.ClientOnePostCode)
            </div>
            <div class="bottomTFStyle col-xs-12 col-sm-6">

                @Html.DisplayFor(model => model.ClientTwoPostCode)
            </div>
        </div>
    </div>
</div>


<div class="hboDetailRow row">
    <div class="col-xs-12">
        <div class="headerStyle col-xs-12 col-sm-4">
            @Html.DisplayNameFor(model => model.ClientOneEmailAddress)
        </div>
        <div class="fieldStyle col-xs-12 col-sm-8">
            <div class="topTFStyle col-xs-12 col-sm-6">
                @Html.DisplayFor(model => model.ClientOneEmailAddress)
            </div>
            <div class="bottomTFStyle col-xs-12 col-sm-6">
                @Html.DisplayFor(model => model.ClientTwoEmailAddress)


            </div>
        </div>
    </div>
</div>


<div class="hboDetailRow row">
    <div class="col-xs-12">
        <div class="headerStyle col-xs-12 col-sm-4">
            @Html.DisplayNameFor(model => model.ClientOneHomeTelephone)
        </div>
        <div class="fieldStyle col-xs-12 col-sm-8">
            <div class="topTFStyle col-xs-12 col-sm-6">
                @Html.DisplayFor(model => model.ClientOneHomeTelephone)
            </div>
            <div class="bottomTFStyle col-xs-12 col-sm-6">

                @Html.DisplayFor(model => model.ClientTwoHomeTelephone)
            </div>
        </div>
    </div>
</div>


<div class="hboDetailRow row">
    <div class="col-xs-12">
        <div class="headerStyle col-xs-12 col-sm-4">
            @Html.DisplayNameFor(model => model.ClientOneMobileTelephone)
        </div>
        <div class="fieldStyle col-xs-12 col-sm-8">
            <div class="topTFStyle col-xs-12 col-sm-6">
                @Html.DisplayFor(model => model.ClientOneMobileTelephone)
            </div>
            <div class="bottomTFStyle col-xs-12 col-sm-6">

                @Html.DisplayFor(model => model.ClientTwoMobileTelephone)
            </div>
        </div>
    </div>
</div>


<div class="hboDetailRow row">
    <div class="col-xs-12">
        <div class="headerStyle col-xs-12 col-sm-4">
            @Html.DisplayNameFor(model => model.ClientOneDateOfBirth)
        </div>
        <div class="fieldStyle col-xs-12 col-sm-8">
            <div class="topTFStyle col-xs-12 col-sm-6">
                @Html.DisplayFor(model => model.ClientOneDateOfBirth)
            </div>
            <div class="bottomTFStyle col-xs-12 col-sm-6">
                @Html.DisplayFor(model => model.ClientTwoDateOfBirth)


            </div>
        </div>
    </div>
</div>


<div class="hboDetailRow row">
    <div class="col-xs-12">
        <div class="headerStyle col-xs-12 col-sm-4">
            @Html.DisplayNameFor(model => model.ClientOneSex)
        </div>
        <div class="fieldStyle col-xs-12 col-sm-8">
            <div class="topTFStyle col-xs-12 col-sm-6">
                @Html.DisplayFor(model => model.ClientOneSex)
            </div>
            <div class="bottomTFStyle col-xs-12 col-sm-6">

                @Html.DisplayFor(model => model.ClientTwoSex)
            </div>
        </div>
    </div>
</div>


<div class="hboDetailRow row">
    <div class="col-xs-12">
        <div class="headerStyle col-xs-12 col-sm-4">
            @Html.DisplayNameFor(model => model.ClientOneMartialStatus)
        </div>
        <div class="fieldStyle col-xs-12 col-sm-8">
            <div class="topTFStyle col-xs-12 col-sm-6">
                @Html.DisplayFor(model => model.ClientOneMartialStatus)
            </div>
            <div class="bottomTFStyle col-xs-12 col-sm-6">

                @Html.DisplayFor(model => model.ClientTwoMartialStatus)
            </div>
        </div>
    </div>
</div>


<div class="hboDetailRow row">
    <div class="col-xs-12">
        <div class="headerStyle col-xs-12 col-sm-4">
            @Html.DisplayNameFor(model => model.ClientOneGoodHealth)
        </div>
        <div class="fieldStyle col-xs-12 col-sm-8">
            <div class="topTFStyle col-xs-12 col-sm-6">
                @Html.DisplayFor(model => model.ClientOneGoodHealth)
            </div>
            <div class="bottomTFStyle col-xs-12 col-sm-6">

                @Html.DisplayFor(model => model.ClientTwoGoodHealth)
            </div>
        </div>
    </div>
</div>


<div class="hboDetailRow row">
    <div class="col-xs-12">
        <div class="headerStyle col-xs-12 col-sm-4">
            @Html.DisplayNameFor(model => model.ClientOneSmoked)
        </div>
        <div class="fieldStyle col-xs-12 col-sm-8">
            <div class="topTFStyle col-xs-12 col-sm-6">
                @Html.DisplayFor(model => model.ClientOneSmoked)
            </div>
            <div class="bottomTFStyle col-xs-12 col-sm-6">

                @Html.DisplayFor(model => model.ClientTwoSmoked)
            </div>
        </div>
    </div>
</div>


<div class="hboDetailRow row">
    <div class="col-xs-12">
        <div class="headerStyle col-xs-12 col-sm-4">
            @Html.DisplayNameFor(model => model.ClientOneNationalInsuranceNumber)
        </div>
        <div class="fieldStyle col-xs-12 col-sm-8">
            <div class="topTFStyle col-xs-12 col-sm-6">
                @Html.DisplayFor(model => model.ClientOneNationalInsuranceNumber)
            </div>
            <div class="bottomTFStyle col-xs-12 col-sm-6">

                @Html.DisplayFor(model => model.ClientTwoNationalInsuranceNumber)
            </div>
        </div>
    </div>
</div>


<div class="hboDetailRow row">
    <div class="col-xs-12">
        <div class="headerStyle col-xs-12 col-sm-4">
            @Html.DisplayNameFor(model => model.ClientOneNationality)
        </div>
        <div class="fieldStyle col-xs-12 col-sm-8">
            <div class="topTFStyle col-xs-12 col-sm-6">
                @Html.DisplayFor(model => model.ClientOneNationality)
            </div>
            <div class="bottomTFStyle col-xs-12 col-sm-6">

                @Html.DisplayFor(model => model.ClientTwoNationality)
            </div>
        </div>
    </div>
</div>


<div class="hboDetailRow row">
    <div class="col-xs-12">
        <div class="headerStyle col-xs-12 col-sm-4">
            @Html.DisplayNameFor(model => model.ClientOneCountryOfBirth)
        </div>
        <div class="fieldStyle col-xs-12 col-sm-8">
            <div class="topTFStyle col-xs-12 col-sm-6">
                @Html.DisplayFor(model => model.ClientOneCountryOfBirth)
            </div>
            <div class="bottomTFStyle col-xs-12 col-sm-6">

                @Html.DisplayFor(model => model.ClientTwoCountryOfBirth)
            </div>
        </div>
    </div>
</div>


<div class="hboDetailRow row">
    <div class="col-xs-12">
        <div class="headerStyle col-xs-12 col-sm-4">
            @Html.DisplayNameFor(model => model.ClientOneCountryOfResidence)
        </div>
        <div class="fieldStyle col-xs-12 col-sm-8">
            <div class="topTFStyle col-xs-12 col-sm-6">
                @Html.DisplayFor(model => model.ClientOneCountryOfResidence)
            </div>
            <div class="bottomTFStyle col-xs-12 col-sm-6">

                @Html.DisplayFor(model => model.ClientTwoCountryOfResidence)
            </div>
        </div>
    </div>
</div>


<div class="hboDetailRow row">
    <div class="col-xs-12">
        <div class="headerStyle col-xs-12 col-sm-4">
            @Html.DisplayNameFor(model => model.ClientOneDomicile)
        </div>
        <div class="fieldStyle col-xs-12 col-sm-8">
            <div class="topTFStyle col-xs-12 col-sm-6">
                @Html.DisplayFor(model => model.ClientOneDomicile)
            </div>
            <div class="bottomTFStyle col-xs-12 col-sm-6">

                @Html.DisplayFor(model => model.ClientTwoDomicile)
            </div>
        </div>
    </div>
</div>


<div class="hboDetailRow row">
    <div class="col-xs-12">
        <div class="headerStyle col-xs-12 col-sm-4">
            @Html.DisplayNameFor(model => model.ClientOneTaxationResidency)
        </div>
        <div class="fieldStyle col-xs-12 col-sm-8">
            <div class="topTFStyle col-xs-12 col-sm-6">
                @Html.DisplayFor(model => model.ClientOneTaxationResidency)
            </div>
            <div class="bottomTFStyle col-xs-12 col-sm-6">

                @Html.DisplayFor(model => model.ClientTwoTaxationResidency)
            </div>
        </div>
    </div>
</div>


<div class="hboDetailRow row">
    <div class="col-xs-12">
        <div class="headerStyle col-xs-12 col-sm-4">
            @Html.DisplayNameFor(model => model.ClientOneExtraInformation)
        </div>
        <div class="fieldStyle col-xs-12 col-sm-8">
            <div class="topTFStyle col-xs-12 col-sm-6">
                @Html.DisplayFor(model => model.ClientOneExtraInformation)
            </div>
            <div class="bottomTFStyle col-xs-12 col-sm-6">

                @Html.DisplayFor(model => model.ClientTwoExtraInformation)
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12" style="text-align: center">
    <p>
        @Html.ActionLink("Edit", "PageOne", new {id = Model.Id})
    </p>
</div>

@Html.ActionLink("Export To Pdf", "ExportPdf", new {id = Model.Id})