@model HboFactFind.Domain.Pages.PageEight


<div class="hboDetailRow row">
    <div class="col-xs-12">
        <div class="headerStyle col-xs-12 col-sm-4">
            @Html.DisplayNameFor(model => model.ClientOneRequiredEmergancyFund)
        </div>
        <div class="fieldStyle col-xs-12 col-sm-8">
            <div class="topTFStyle col-xs-12 col-sm-6">
                @Html.DisplayFor(model => model.ClientOneRequiredEmergancyFund)
            </div>
            <div class="bottomTFStyle col-xs-12 col-sm-6">
                @Html.DisplayFor(model => model.ClientTwoRequiredEmergancyFund)
            </div>
        </div>
    </div>
</div>


<div class="hboDetailRow row">
    <div class="col-xs-12">
        <div class="headerStyle col-xs-12 col-sm-4">
            @Html.DisplayNameFor(model => model.ClientOnePlannedExpenditure)
        </div>
        <div class="fieldStyle col-xs-12 col-sm-8">
            <div class="topTFStyle col-xs-12 col-sm-6">
                @Html.DisplayFor(model => model.ClientOnePlannedExpenditure)
            </div>
            <div class="bottomTFStyle col-xs-12 col-sm-6">
                @Html.DisplayFor(model => model.ClientTwoPlannedExpenditure)
            </div>
        </div>
    </div>
</div>


<div class="hboDetailRow row">
    <div class="col-xs-12">
        <div class="headerStyle col-xs-12 col-sm-4">
            @Html.DisplayNameFor(model => model.ClientOneMadeAWill)
        </div>
        <div class="fieldStyle col-xs-12 col-sm-8">
            <div class="topTFStyle col-xs-12 col-sm-6">
                @Html.DisplayFor(model => model.ClientOneMadeAWill)
            </div>
            <div class="bottomTFStyle col-xs-12 col-sm-6">
                @Html.DisplayFor(model => model.ClientTwoMadeAWill)
            </div>
        </div>
    </div>
</div>


<div class="hboDetailRow row">
    <div class="col-xs-12">
        <div class="headerStyle col-xs-12 col-sm-4">
            @Html.DisplayNameFor(model => model.ClientOneWillNotes)
        </div>
        <div class="fieldStyle col-xs-12 col-sm-8">
            <div class="topTFStyle col-xs-12 col-sm-6">
                @Html.DisplayFor(model => model.ClientOneWillNotes)
            </div>
            <div class="bottomTFStyle col-xs-12 col-sm-6">
                @Html.DisplayFor(model => model.ClientTwoWillNotes)
            </div>
        </div>
    </div>
</div>