@model HboFactFind.Domain.Pages.PageTen
<div class="hboDetailRowNoBorder row">
    <strong>For employer benefits please include these where possible in the following tables (for PHI these need to be included in the notes section) with the owner as employer, where plan types such as DIS - death in service, FS - Final Salary Scheme</strong>
</div>
<div class="hboDetailRowNoBorder row">
    <h4>Protection & General Insurance Policies</h4>
    <div class="col-xs-12">
        @Html.Partial("~/Views/ProtectionAndInsurancePolicies/Partials/_ProtectionIndex.cshtml", Model.ProtectionAndInsurancePolicies)
    </div>
</div>


<div class="hboDetailRowNoBorder row">
    <h4>Pension Policies ( Including Money Purchase Occupational Schemes)</h4>
    <div class="col-xs-12">
        @Html.Partial("~/Views/PensionPolicies/Partials/_PensionIndex.cshtml", Model.PensionPolicieses)
    </div>
</div>


<div class="hboDetailRowNoBorder row">
    <h4>Savings & Investment Policies</h4>
    <div class="col-xs-12">
        @Html.Partial("~/Views/SavingsAndInvestmentPolicies/Partials/_SavingsIndex.cshtml", Model.SavingsAndInvestmentPolicieses)
    </div>
</div>
<div class="hboDetailRowNoBorder">
    *provide details of any ISA contributions, additional features, guaranteese etc. in the previous notes section
</div>
<div class="hboDetailRow row">
    <div class="col-xs-12">
        <div class="headerStyle col-xs-12 col-sm-4">
            @Html.DisplayNameFor(model => model.Notes)
        </div>
        <div class="fieldStyle col-xs-12 col-sm-8">
            <div class="topTFStyle col-xs-12">
                @Html.DisplayFor(model => model.Notes)
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12" style="text-align: center">
    <p>
        @Html.ActionLink("Edit", "PageTen", new { id = Model.Id })
    </p>
</div>