@model HboFactFind.Domain.Pages.PageOne

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Core Details</h4>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

    <div class="form-group">
            <div class="hboDetailRow row">
                <div class="col-xs-12">
                    <div class="headerStyle col-xs-12 col-sm-4">
                        @Html.LabelFor(model => model.ClientOneTitle)
                    </div>
                    <div class="fieldStyle col-xs-12 col-sm-8">
                        <div class="topTFStyle col-xs-12 col-sm-6">
                            @Html.EnumDropDownListFor(model => model.ClientOneTitle, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ClientOneTitle, "", new { @class = "text-danger" })
                        </div>
                        <div class="bottomTFStyle col-xs-12 col-sm-6">
                            @Html.EnumDropDownListFor(model => model.ClientTwoTitle, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ClientTwoTitle, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="hboDetailRow row">
                <div class="col-xs-12">
                    <div class="headerStyle col-xs-12 col-sm-4">
                        @Html.LabelFor(model => model.ClientOneForename)
                    </div>
                    <div class="fieldStyle col-xs-12 col-sm-8">
                        <div class="topTFStyle col-xs-12 col-sm-6">
                            @Html.EditorFor(model => model.ClientOneForename, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ClientOneForename, "", new { @class = "text-danger" })
                        </div>
                        <div class="bottomTFStyle col-xs-12 col-sm-6">
                            @Html.EditorFor(model => model.ClientTwoForename, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ClientTwoForename, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="hboDetailRow row">
                <div class="col-xs-12">
                    <div class="headerStyle col-xs-12 col-sm-4">
                        @Html.LabelFor(model => model.ClientOneSurnames)
                    </div>
                    <div class="fieldStyle col-xs-12 col-sm-8">
                        <div class="topTFStyle col-xs-12 col-sm-6">
                            @Html.EditorFor(model => model.ClientOneSurnames, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ClientOneSurnames, "", new { @class = "text-danger" })
                        </div>
                        <div class="bottomTFStyle col-xs-12 col-sm-6">
                            @Html.EditorFor(model => model.ClientTwoSurnames, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ClientTwoSurnames, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="hboDetailRow row">
                <div class="col-xs-12">
                    <div class="headerStyle col-xs-12 col-sm-4">
                        @Html.LabelFor(model => model.ClientOneAddressLineOne)
                    </div>
                    <div class="fieldStyle col-xs-12 col-sm-8">
                        <div class="topTFStyle col-xs-12 col-sm-6">
                            @Html.EditorFor(model => model.ClientOneAddressLineOne, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ClientOneAddressLineOne, "", new { @class = "text-danger" })
                        </div>
                        <div class="bottomTFStyle col-xs-12 col-sm-6">
                            @Html.EditorFor(model => model.ClientTwoAddressLineOne, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ClientTwoAddressLineOne, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="hboDetailRow row">
                <div class="col-xs-12">
                    <div class="headerStyle col-xs-12 col-sm-4">
                        @Html.LabelFor(model => model.ClientOneAddressLineTwo)
                    </div>
                    <div class="fieldStyle col-xs-12 col-sm-8">
                        <div class="topTFStyle col-xs-12 col-sm-6">
                            @Html.EditorFor(model => model.ClientOneAddressLineTwo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ClientOneAddressLineTwo, "", new { @class = "text-danger" })
                        </div>
                        <div class="bottomTFStyle col-xs-12 col-sm-6">
                            @Html.EditorFor(model => model.ClientTwoAddressLineTwo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ClientTwoAddressLineTwo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="hboDetailRow row">
                <div class="col-xs-12">
                    <div class="headerStyle col-xs-12 col-sm-4">
                        @Html.LabelFor(model => model.ClientOneAddressLineThree)
                    </div>
                    <div class="fieldStyle col-xs-12 col-sm-8">
                        <div class="topTFStyle col-xs-12 col-sm-6">
                            @Html.EditorFor(model => model.ClientOneAddressLineThree, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ClientOneAddressLineThree, "", new { @class = "text-danger" })
                        </div>
                        <div class="bottomTFStyle col-xs-12 col-sm-6">
                            @Html.EditorFor(model => model.ClientTwoAddressLineThree, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ClientTwoAddressLineThree, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="hboDetailRow row">
                <div class="col-xs-12">
                    <div class="headerStyle col-xs-12 col-sm-4">
                        @Html.LabelFor(model => model.ClientOneCounty)
                    </div>
                    <div class="fieldStyle col-xs-12 col-sm-8">
                        <div class="topTFStyle col-xs-12 col-sm-6">
                            @Html.EditorFor(model => model.ClientOneCounty, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ClientOneCounty, "", new { @class = "text-danger" })
                        </div>
                        <div class="bottomTFStyle col-xs-12 col-sm-6">
                            @Html.EditorFor(model => model.ClientTwoCounty, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ClientTwoCounty, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="hboDetailRow row">
                <div class="col-xs-12">
                    <div class="headerStyle col-xs-12 col-sm-4">
                        @Html.LabelFor(model => model.ClientOnePostCode)
                    </div>
                    <div class="fieldStyle col-xs-12 col-sm-8">
                        <div class="topTFStyle col-xs-12 col-sm-6">
                            @Html.EditorFor(model => model.ClientOnePostCode, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ClientOnePostCode, "", new { @class = "text-danger" })
                        </div>
                        <div class="bottomTFStyle col-xs-12 col-sm-6">
                            @Html.EditorFor(model => model.ClientTwoPostCode, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ClientTwoPostCode, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="hboDetailRow row">
                <div class="col-xs-12">
                    <div class="headerStyle col-xs-12 col-sm-4">
                        @Html.LabelFor(model => model.ClientOneEmailAddress)
                    </div>
                    <div class="fieldStyle col-xs-12 col-sm-8">
                        <div class="topTFStyle col-xs-12 col-sm-6">
                            @Html.EditorFor(model => model.ClientOneEmailAddress, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ClientOneEmailAddress, "", new { @class = "text-danger" })
                        </div>
                        <div class="bottomTFStyle col-xs-12 col-sm-6">
                            @Html.EditorFor(model => model.ClientTwoEmailAddress, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ClientTwoEmailAddress, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="hboDetailRow row">
                <div class="col-xs-12">
                    <div class="headerStyle col-xs-12 col-sm-4">
                        @Html.LabelFor(model => model.ClientOneHomeTelephone)
                    </div>
                    <div class="fieldStyle col-xs-12 col-sm-8">
                        <div class="topTFStyle col-xs-12 col-sm-6">
                            @Html.EditorFor(model => model.ClientOneHomeTelephone, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ClientOneHomeTelephone, "", new { @class = "text-danger" })
                        </div>
                        <div class="bottomTFStyle col-xs-12 col-sm-6">
                            @Html.EditorFor(model => model.ClientTwoHomeTelephone, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ClientTwoHomeTelephone, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="hboDetailRow row">
                <div class="col-xs-12">
                    <div class="headerStyle col-xs-12 col-sm-4">
                        @Html.LabelFor(model => model.ClientOneMobileTelephone)
                    </div>
                    <div class="fieldStyle col-xs-12 col-sm-8">
                        <div class="topTFStyle col-xs-12 col-sm-6">
                            @Html.EditorFor(model => model.ClientOneMobileTelephone, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ClientOneMobileTelephone, "", new { @class = "text-danger" })
                        </div>
                        <div class="bottomTFStyle col-xs-12 col-sm-6">
                            @Html.EditorFor(model => model.ClientTwoMobileTelephone, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ClientTwoMobileTelephone, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="hboDetailRow row">
                <div class="col-xs-12">
                    <div class="headerStyle col-xs-12 col-sm-4">
                        @Html.LabelFor(model => model.ClientOneDateOfBirth)
                    </div>
                    <div class="fieldStyle col-xs-12 col-sm-8">
                        <div class="topTFStyle col-xs-12 col-sm-6">
                            @Html.EditorFor(model => model.ClientOneDateOfBirth, new { htmlAttributes = new { @class = "form-control datepicker" } })
                            @Html.ValidationMessageFor(model => model.ClientOneDateOfBirth, "", new { @class = "text-danger" })
                        </div>
                        <div class="bottomTFStyle col-xs-12 col-sm-6">
                            @Html.EditorFor(model => model.ClientTwoDateOfBirth, new { htmlAttributes = new { @class = "form-control datepicker" } })
                            @Html.ValidationMessageFor(model => model.ClientTwoDateOfBirth, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="hboDetailRow row">
                <div class="col-xs-12">
                    <div class="headerStyle col-xs-12 col-sm-4">
                        @Html.LabelFor(model => model.ClientOneSex)
                    </div>
                    <div class="fieldStyle col-xs-12 col-sm-8">
                        <div class="topTFStyle col-xs-12 col-sm-6">
                            @Html.EnumDropDownListFor(model => model.ClientOneSex, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ClientOneSex, "", new { @class = "text-danger" })
                        </div>
                        <div class="bottomTFStyle col-xs-12 col-sm-6">
                            @Html.EnumDropDownListFor(model => model.ClientTwoSex, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ClientTwoSex, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="hboDetailRow row">
                <div class="col-xs-12">
                    <div class="headerStyle col-xs-12 col-sm-4">
                        @Html.LabelFor(model => model.ClientOneMartialStatus)
                    </div>
                    <div class="fieldStyle col-xs-12 col-sm-8">
                        <div class="topTFStyle col-xs-12 col-sm-6">
                            @Html.EnumDropDownListFor(model => model.ClientOneMartialStatus, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ClientOneMartialStatus, "", new { @class = "text-danger" })
                        </div>
                        <div class="bottomTFStyle col-xs-12 col-sm-6">
                            @Html.EnumDropDownListFor(model => model.ClientTwoMartialStatus, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ClientTwoMartialStatus, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="hboDetailRow row">
                <div class="col-xs-12">
                    <div class="headerStyle col-xs-12 col-sm-4">
                        @Html.LabelFor(model => model.ClientOneGoodHealth)
                    </div>
                    <div class="fieldStyle col-xs-12 col-sm-8">
                        <div class="topTFStyle col-xs-12 col-sm-6">
                            <div class="checkbox">

                                @Html.RadioButtonFor(model => model.ClientOneGoodHealth, true) Yes
                                @Html.RadioButtonFor(model => model.ClientOneGoodHealth, false) No
                                @Html.ValidationMessageFor(model => model.ClientOneGoodHealth, "", new {@class = "text-danger"})
                            </div>
                        </div>
                        <div class="bottomTFStyle col-xs-12 col-sm-6">
                            <div class="checkbox">
                                @Html.RadioButtonFor(model => model.ClientTwoGoodHealth, true) Yes
                                @Html.RadioButtonFor(model => model.ClientTwoGoodHealth, false) No
                                @Html.ValidationMessageFor(model => model.ClientTwoGoodHealth, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="hboDetailRow row">
                <div class="col-xs-12">
                    <div class="headerStyle col-xs-12 col-sm-4">
                        @Html.LabelFor(model => model.ClientOneSmoked)
                    </div>
                    <div class="fieldStyle col-xs-12 col-sm-8">
                        <div class="topTFStyle col-xs-12 col-sm-6">
                            <div class="checkbox">
                                @Html.RadioButtonFor(model => model.ClientOneSmoked, true) Yes
                                @Html.RadioButtonFor(model => model.ClientOneSmoked, false) No
                                @Html.ValidationMessageFor(model => model.ClientOneSmoked, "", new {@class = "text-danger"})
                            </div>
                        </div>
                        <div class="bottomTFStyle col-xs-12 col-sm-6">
                            <div class="checkbox">
                                @Html.RadioButtonFor(model => model.ClientTwoSmoked, true) Yes
                                @Html.RadioButtonFor(model => model.ClientTwoSmoked, false) No
                                @Html.ValidationMessageFor(model => model.ClientTwoSmoked, "", new {@class = "text-danger"})
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="hboDetailRow row">
                <div class="col-xs-12">
                    <div class="headerStyle col-xs-12 col-sm-4">
                        @Html.LabelFor(model => model.ClientOneNationalInsuranceNumber)
                    </div>
                    <div class="fieldStyle col-xs-12 col-sm-8">
                        <div class="topTFStyle col-xs-12 col-sm-6">
                            @Html.EditorFor(model => model.ClientOneNationalInsuranceNumber, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ClientOneNationalInsuranceNumber, "", new { @class = "text-danger" })
                        </div>
                        <div class="bottomTFStyle col-xs-12 col-sm-6">
                            @Html.EditorFor(model => model.ClientTwoNationalInsuranceNumber, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ClientTwoNationalInsuranceNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="hboDetailRow row">
                <div class="col-xs-12">
                    <div class="headerStyle col-xs-12 col-sm-4">
                        @Html.LabelFor(model => model.ClientOneNationality)
                    </div>
                    <div class="fieldStyle col-xs-12 col-sm-8">
                        <div class="topTFStyle col-xs-12 col-sm-6">
                            @Html.EditorFor(model => model.ClientOneNationality, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ClientOneNationality, "", new { @class = "text-danger" })
                        </div>
                        <div class="bottomTFStyle col-xs-12 col-sm-6">
                            @Html.EditorFor(model => model.ClientTwoNationality, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ClientTwoNationality, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="hboDetailRow row">
                <div class="col-xs-12">
                    <div class="headerStyle col-xs-12 col-sm-4">
                        @Html.LabelFor(model => model.ClientOneCountryOfBirth)
                    </div>
                    <div class="fieldStyle col-xs-12 col-sm-8">
                        <div class="topTFStyle col-xs-12 col-sm-6">
                            @Html.EditorFor(model => model.ClientOneCountryOfBirth, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ClientOneCountryOfBirth, "", new { @class = "text-danger" })
                        </div>
                        <div class="bottomTFStyle col-xs-12 col-sm-6">
                            @Html.EditorFor(model => model.ClientTwoCountryOfBirth, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ClientTwoCountryOfBirth, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="hboDetailRow row">
                <div class="col-xs-12">
                    <div class="headerStyle col-xs-12 col-sm-4">
                        @Html.LabelFor(model => model.ClientOneCountryOfResidence)
                    </div>
                    <div class="fieldStyle col-xs-12 col-sm-8">
                        <div class="topTFStyle col-xs-12 col-sm-6">
                            @Html.EditorFor(model => model.ClientOneCountryOfResidence, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ClientOneCountryOfResidence, "", new { @class = "text-danger" })
                        </div>
                        <div class="bottomTFStyle col-xs-12 col-sm-6">
                            @Html.EditorFor(model => model.ClientTwoCountryOfResidence, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ClientTwoCountryOfResidence, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="hboDetailRow row">
                <div class="col-xs-12">
                    <div class="headerStyle col-xs-12 col-sm-4">
                        @Html.LabelFor(model => model.ClientOneDomicile)
                    </div>
                    <div class="fieldStyle col-xs-12 col-sm-8">
                        <div class="topTFStyle col-xs-12 col-sm-6">
                            @Html.EditorFor(model => model.ClientOneDomicile, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ClientOneDomicile, "", new { @class = "text-danger" })
                        </div>
                        <div class="bottomTFStyle col-xs-12 col-sm-6">
                            @Html.EditorFor(model => model.ClientTwoDomicile, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ClientTwoDomicile, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="hboDetailRow row">
                <div class="col-xs-12">
                    <div class="headerStyle col-xs-12 col-sm-4">
                        @Html.LabelFor(model => model.ClientOneTaxationResidency)
                    </div>
                    <div class="fieldStyle col-xs-12 col-sm-8">
                        <div class="topTFStyle col-xs-12 col-sm-6">
                            @Html.EditorFor(model => model.ClientOneTaxationResidency, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ClientOneTaxationResidency, "", new { @class = "text-danger" })
                        </div>
                        <div class="bottomTFStyle col-xs-12 col-sm-6">
                            @Html.EditorFor(model => model.ClientTwoTaxationResidency, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ClientTwoTaxationResidency, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="hboDetailRow row">
                <div class="col-xs-12">
                    <div class="headerStyle col-xs-12 col-sm-4">
                        @Html.LabelFor(model => model.Notes)
                    </div>
                    <div class="fieldStyle col-xs-12 col-sm-8">
                        <div class="topTFStyle col-xs-12">
                            @Html.EditorFor(model => model.Notes, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="buttonPanel col-xs-12">
                <input type="submit" value="Save" class="btn btn-default"/>
            </div>
        </div>
    </div>
}

<div class="factFindEditReturnButton">
    @Html.ActionLink("Back to List", "Index", "FactFind")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
