@model HboFactFind.Domain.Questions.Dependants.FinancialDependant

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FinancialDependant</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PageFour.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageFour.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DependantName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DependantName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DependantOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DependantOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgeOfIndependance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgeOfIndependance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RelationshipAndReason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RelationshipAndReason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDateTime)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
