@model IEnumerable<HboFactFind.Domain.Questions.Dependants.FinancialDependant>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PageFour.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DependantName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DependantOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgeOfIndependance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RelationshipAndReason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDateTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PageFour.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DependantName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfBirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DependantOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgeOfIndependance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RelationshipAndReason)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDateTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
