@model HboFactFind.Domain.FactFind

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FactFind</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PageEight.ClientOneRequiredEmergancyFund)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageEight.ClientOneRequiredEmergancyFund)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageFive.ClientOneIncomeNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageFive.ClientOneIncomeNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageFour.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageFour.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageNine.ClientOnePrioritiesNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageNine.ClientOnePrioritiesNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientOneForename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientOneForename)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageSeven.AssetsNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageSeven.AssetsNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageSix.OutGoingsNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageSix.OutGoingsNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageTen.ExistingPlansNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageTen.ExistingPlansNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageThree.ClientOneSolicitor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageThree.ClientOneSolicitor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageTwo.ClientOneOccupation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageTwo.ClientOneOccupation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientOneName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientOneName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientTwoName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientTwoName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompletionDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompletionDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOneId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOneId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageTwoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageTwoId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageThreeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageThreeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageFourId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageFourId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageFiveId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageFiveId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageSixId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageSixId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageSevenId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageSevenId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageEightId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageEightId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageNineId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageNineId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageTenId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageTenId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDateTime)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
