@model HboFactFind.Domain.FactFind

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FactFind</h4>
    <hr />
<dl class="dl-horizontal">
    
    <dt>
        @Html.DisplayNameFor(model => model.ClientOneName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.ClientOneName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.ClientTwoName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.ClientTwoName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.UserId)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.User.EmailAddress)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.CreatedDateTime)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.CreatedDateTime)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.CompletionDateTime)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.CompletionDateTime)
    </dd>
</dl>

    <h4>PageOne</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientOneTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientOneTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientOneForename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientOneForename)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientOneSurnames)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientOneSurnames)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientOneAddressLineOne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientOneAddressLineOne)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientOneAddressLineTwo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientOneAddressLineTwo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientOneAddressLineThree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientOneAddressLineThree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientOneCounty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientOneCounty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientOnePostCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientOnePostCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientOneEmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientOneEmailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientOneHomeTelephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientOneHomeTelephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientOneMobileTelephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientOneMobileTelephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientOneDateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientOneDateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientOneSex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientOneSex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientOneMartialStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientOneMartialStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientOneGoodHealth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientOneGoodHealth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientOneSmoked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientOneSmoked)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientOneNationalInsuranceNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientOneNationalInsuranceNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientOneNationality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientOneNationality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientOneCountryOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientOneCountryOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientOneCountryOfResidence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientOneCountryOfResidence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientOneDomicile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientOneDomicile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientOneTaxationResidency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientOneTaxationResidency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientOneExtraInformation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientOneExtraInformation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientTwoTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientTwoTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientTwoForename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientTwoForename)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientTwoSurnames)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientTwoSurnames)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientTwoAddressLineOne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientTwoAddressLineOne)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientTwoAddressLineTwo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientTwoAddressLineTwo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientTwoAddressLineThree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientTwoAddressLineThree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientTwoCounty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientTwoCounty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientTwoPostCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientTwoPostCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientTwoEmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientTwoEmailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientTwoHomeTelephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientTwoHomeTelephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientTwoMobileTelephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientTwoMobileTelephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientTwoDateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientTwoDateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientTwoSex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientTwoSex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientTwoMartialStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientTwoMartialStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientTwoGoodHealth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientTwoGoodHealth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientTwoSmoked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientTwoSmoked)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientTwoNationalInsuranceNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientTwoNationalInsuranceNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientTwoNationality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientTwoNationality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientTwoCountryOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientTwoCountryOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientTwoCountryOfResidence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientTwoCountryOfResidence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientTwoDomicile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientTwoDomicile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientTwoTaxationResidency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientTwoTaxationResidency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientTwoExtraInformation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientTwoExtraInformation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.CreatedDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.CreatedDateTime)
        </dd>

    </dl>


    <h2>Details</h2>

    <div>
        <h4>PageTwo</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.PageTwo.ClientOneEmploymentStatus)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageTwo.ClientOneEmploymentStatus)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageTwo.ClientOneOccupation)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageTwo.ClientOneOccupation)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageTwo.ClientOneDetailsOfEmployer)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageTwo.ClientOneDetailsOfEmployer)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageTwo.ClientOneEmploymentStartDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageTwo.ClientOneEmploymentStartDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageTwo.ClientOneIntendedRetirementAge)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageTwo.ClientOneIntendedRetirementAge)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageTwo.ClientTwoStatusEmploymentStatus)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageTwo.ClientTwoStatusEmploymentStatus)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageTwo.ClientTwoOccupation)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageTwo.ClientTwoOccupation)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageTwo.ClientTwoDetailsOfEmployer)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageTwo.ClientTwoDetailsOfEmployer)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageTwo.ClientTwoEmploymentStartDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageTwo.ClientTwoEmploymentStartDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageTwo.ClientTwoIntendedRetirementAge)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageTwo.ClientTwoIntendedRetirementAge)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageTwo.CreatedDateTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageTwo.CreatedDateTime)
            </dd>

        </dl>

        <h4>PageThree</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.PageThree.ClientOneSolicitor)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageThree.ClientOneSolicitor)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageThree.ClientOneAccountant)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageThree.ClientOneAccountant)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageThree.ClientOneAdviserOther)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageThree.ClientOneAdviserOther)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageThree.ClientTwoSolicitor)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageThree.ClientTwoSolicitor)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageThree.ClientTwoAccountant)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageThree.ClientTwoAccountant)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageThree.ClientTwoAdviserOther)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageThree.ClientTwoAdviserOther)
            </dd>

        </dl>


        <h4>PageFour</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.PageFour.AnyFinancialDependants)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageFour.AnyFinancialDependants)
            </dd>

        </dl>

        <h4>PageFive</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.PageFive.ClientOneGrossEmploymentIncome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageFive.ClientOneGrossEmploymentIncome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageFive.ClientOneGrossSelfEmploymentIncome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageFive.ClientOneGrossSelfEmploymentIncome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageFive.ClientOneGroddPrivatePensionIncome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageFive.ClientOneGroddPrivatePensionIncome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageFive.ClientOneGrossStatePension)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageFive.ClientOneGrossStatePension)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageFive.ClientOneAdditionalIncome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageFive.ClientOneAdditionalIncome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageFive.ClientOneTotalAnnualIncome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageFive.ClientOneTotalAnnualIncome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageFive.ClientOneTotalGrossMonthlyIncome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageFive.ClientOneTotalGrossMonthlyIncome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageFive.ClientOneTotalNetMonthlyIncome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageFive.ClientOneTotalNetMonthlyIncome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageFive.ClientOneTaxRate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageFive.ClientOneTaxRate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageFive.ClientOneAnyChangesToIncome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageFive.ClientOneAnyChangesToIncome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageFive.ClientOneAnyChangesToTax)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageFive.ClientOneAnyChangesToTax)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageFive.ClientOneIncomeNotes)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageFive.ClientOneIncomeNotes)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageFive.ClientTwoGrossEmploymentIncome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageFive.ClientTwoGrossEmploymentIncome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageFive.ClientTwoGrossSelfEmploymentIncome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageFive.ClientTwoGrossSelfEmploymentIncome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageFive.ClientTwoGroddPrivatePensionIncome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageFive.ClientTwoGroddPrivatePensionIncome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageFive.ClientTwoGrossStatePension)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageFive.ClientTwoGrossStatePension)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageFive.ClientTwoAdditionalIncome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageFive.ClientTwoAdditionalIncome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageFive.ClientTwoTotalAnnualIncome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageFive.ClientTwoTotalAnnualIncome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageFive.ClientTwoTotalGrossMonthlyIncome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageFive.ClientTwoTotalGrossMonthlyIncome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageFive.ClientTwoTotalNetMonthlyIncome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageFive.ClientTwoTotalNetMonthlyIncome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageFive.ClientTwoTaxRate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageFive.ClientTwoTaxRate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageFive.ClientTwoAnyChangesToIncome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageFive.ClientTwoAnyChangesToIncome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageFive.ClientTwoAnyChangesToTax)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageFive.ClientTwoAnyChangesToTax)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageFive.ClientTwoIncomeNotes)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageFive.ClientTwoIncomeNotes)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageFive.CreatedDateTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageFive.CreatedDateTime)
            </dd>

        </dl>

        <h4>PageSix</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.PageSix.ClientOneMortageRent)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageSix.ClientOneMortageRent)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageSix.ClientOneCouncilTax)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageSix.ClientOneCouncilTax)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageSix.ClientOneUtilities)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageSix.ClientOneUtilities)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageSix.ClientOneFoodShopping)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageSix.ClientOneFoodShopping)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageSix.ClientOneTvSateliteCableInternet)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageSix.ClientOneTvSateliteCableInternet)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageSix.ClientOnePhone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageSix.ClientOnePhone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageSix.ClientOneTransportation)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageSix.ClientOneTransportation)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageSix.ClientOneFinancials)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageSix.ClientOneFinancials)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageSix.ClientOneLoansCreditStoreCardRepayments)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageSix.ClientOneLoansCreditStoreCardRepayments)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageSix.ClientOneSavings)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageSix.ClientOneSavings)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageSix.ClientOneInsurance)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageSix.ClientOneInsurance)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageSix.ClientOnePensionContributions)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageSix.ClientOnePensionContributions)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageSix.ClientOneMiscellaneious)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageSix.ClientOneMiscellaneious)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageSix.ClientOneHolidays)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageSix.ClientOneHolidays)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageSix.ClientOneRegularSubscriptions)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageSix.ClientOneRegularSubscriptions)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageSix.ClientOneClothing)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageSix.ClientOneClothing)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageSix.ClientOneOther)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageSix.ClientOneOther)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageSix.ClientOneTotalOutgoings)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageSix.ClientOneTotalOutgoings)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageSix.ClientOneSurplusIncome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageSix.ClientOneSurplusIncome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageSix.ClientOneFinancialGoalCommitment)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageSix.ClientOneFinancialGoalCommitment)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageSix.ClientTwoMortageRent)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageSix.ClientTwoMortageRent)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageSix.ClientTwoCouncilTax)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageSix.ClientTwoCouncilTax)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageSix.ClientTwoUtilities)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageSix.ClientTwoUtilities)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageSix.ClientTwoFoodShopping)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageSix.ClientTwoFoodShopping)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageSix.ClientTwoTvSateliteCableInternet)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageSix.ClientTwoTvSateliteCableInternet)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageSix.ClientTwoPhone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageSix.ClientTwoPhone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageSix.ClientTwoTransportation)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageSix.ClientTwoTransportation)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageSix.ClientTwoFinancials)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageSix.ClientTwoFinancials)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageSix.ClientTwoLoansCreditStoreCardRepayments)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageSix.ClientTwoLoansCreditStoreCardRepayments)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageSix.ClientTwoSavings)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageSix.ClientTwoSavings)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageSix.ClientTwoInsurance)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageSix.ClientTwoInsurance)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageSix.ClientTwoPensionContributions)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageSix.ClientTwoPensionContributions)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageSix.ClientTwoMiscellaneious)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageSix.ClientTwoMiscellaneious)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageSix.ClientTwoHolidays)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageSix.ClientTwoHolidays)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageSix.ClientTwoRegularSubscriptions)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageSix.ClientTwoRegularSubscriptions)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageSix.ClientTwoClothing)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageSix.ClientTwoClothing)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageSix.ClientTwoOther)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageSix.ClientTwoOther)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageSix.ClientTwoTotalOutgoings)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageSix.ClientTwoTotalOutgoings)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageSix.ClientTwoSurplusIncome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageSix.ClientTwoSurplusIncome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageSix.ClientTwoFinancialGoalCommitment)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageSix.ClientTwoFinancialGoalCommitment)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageSix.OutGoingsNotes)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageSix.OutGoingsNotes)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageSix.CreatedDateTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageSix.CreatedDateTime)
            </dd>

        </dl>

        <h4>PageSeven</h4>
        <hr />
    <dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.PageSeven.ClientOneHome)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PageSeven.ClientOneHome)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.PageSeven.ClientOneOtherProperty)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PageSeven.ClientOneOtherProperty)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.PageSeven.ClientOneCashDeposits)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PageSeven.ClientOneCashDeposits)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.PageSeven.ClientOneInvestmentBonds)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PageSeven.ClientOneInvestmentBonds)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.PageSeven.ClientOnePensionFunds)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PageSeven.ClientOnePensionFunds)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.PageSeven.ClientOneIsa)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PageSeven.ClientOneIsa)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.PageSeven.ClientOneCollectives)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PageSeven.ClientOneCollectives)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.PageSeven.ClientOneShares)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PageSeven.ClientOneShares)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.PageSeven.ClientOneBuisnessAssets)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PageSeven.ClientOneBuisnessAssets)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.PageSeven.ClientOneOtherAssets)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PageSeven.ClientOneOtherAssets)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.PageSeven.ClientOneTotalAssets)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PageSeven.ClientOneTotalAssets)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.PageSeven.ClientOneMainMortgage)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PageSeven.ClientOneMainMortgage)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.PageSeven.ClientOneCreditCards)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PageSeven.ClientOneCreditCards)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.PageSeven.ClientOneOverdraft)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PageSeven.ClientOneOverdraft)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.PageSeven.ClientOneLoansHp)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PageSeven.ClientOneLoansHp)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.PageSeven.ClientOneOtherMortgage)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PageSeven.ClientOneOtherMortgage)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.PageSeven.ClientOneOtherLending)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PageSeven.ClientOneOtherLending)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.PageSeven.ClientOneTotalDebt)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PageSeven.ClientOneTotalDebt)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.PageSeven.ClientTwoHome)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PageSeven.ClientTwoHome)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.PageSeven.ClientTwoOtherProperty)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PageSeven.ClientTwoOtherProperty)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.PageSeven.ClientTwoCashDeposits)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PageSeven.ClientTwoCashDeposits)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.PageSeven.ClientTwoInvestmentBonds)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PageSeven.ClientTwoInvestmentBonds)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.PageSeven.ClientTwoPensionFunds)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PageSeven.ClientTwoPensionFunds)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.PageSeven.ClientTwoIsa)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PageSeven.ClientTwoIsa)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.PageSeven.ClientTwoCollectives)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PageSeven.ClientTwoCollectives)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.PageSeven.ClientTwoShares)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PageSeven.ClientTwoShares)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.PageSeven.ClientTwoBuisnessAssets)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PageSeven.ClientTwoBuisnessAssets)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.PageSeven.ClientTwoOtherAssets)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PageSeven.ClientTwoOtherAssets)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.PageSeven.ClientTwoTotalAssets)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PageSeven.ClientTwoTotalAssets)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.PageSeven.ClientTwoMainMortgage)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PageSeven.ClientTwoMainMortgage)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.PageSeven.ClientTwoCreditCards)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PageSeven.ClientTwoCreditCards)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.PageSeven.ClientTwoOverdraft)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PageSeven.ClientTwoOverdraft)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.PageSeven.ClientTwoLoansHp)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PageSeven.ClientTwoLoansHp)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.PageSeven.ClientTwoOtherMortgage)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PageSeven.ClientTwoOtherMortgage)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.PageSeven.ClientTwoOtherLending)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PageSeven.ClientTwoOtherLending)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.PageSeven.ClientTwoTotalDebt)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PageSeven.ClientTwoTotalDebt)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.PageSeven.AssetsNotes)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PageSeven.AssetsNotes)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.PageSeven.CreatedDateTime)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PageSeven.CreatedDateTime)
    </dd>

    </dl>

        <h4>PageEight</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.PageEight.ClientOneRequiredEmergancyFund)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageEight.ClientOneRequiredEmergancyFund)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageEight.ClientOnePlannedExpenditure)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageEight.ClientOnePlannedExpenditure)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageEight.ClientOneMadeAWill)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageEight.ClientOneMadeAWill)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageEight.ClientOneWillNotes)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageEight.ClientOneWillNotes)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageEight.ClientTwoRequiredEmergancyFund)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageEight.ClientTwoRequiredEmergancyFund)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageEight.ClientTwoPlannedExpenditure)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageEight.ClientTwoPlannedExpenditure)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageEight.ClientTwoMadeAWill)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageEight.ClientTwoMadeAWill)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageEight.ClientTwoWillNotes)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageEight.ClientTwoWillNotes)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PageEight.CreatedDateTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageEight.CreatedDateTime)
            </dd>

        </dl>
        <h4>PageNine</h4>
        <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PageNine.ClientOnePersonalProtectionPriority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageNine.ClientOnePersonalProtectionPriority)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageNine.ClientOnePensionPlanningPriority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageNine.ClientOnePensionPlanningPriority)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageNine.ClientOneOptionsAtRetirementPriority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageNine.ClientOneOptionsAtRetirementPriority)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageNine.ClientOneSavingsAndInvestmentsPriority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageNine.ClientOneSavingsAndInvestmentsPriority)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageNine.ClientOneEstatePlanningPriority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageNine.ClientOneEstatePlanningPriority)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageNine.ClientOneMortgageNeedsPriority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageNine.ClientOneMortgageNeedsPriority)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageNine.ClientOneEquityReleasePriority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageNine.ClientOneEquityReleasePriority)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageNine.ClientOneLongTermCarePriority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageNine.ClientOneLongTermCarePriority)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageNine.ClientOneGeneralInsuranceNeedsPriority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageNine.ClientOneGeneralInsuranceNeedsPriority)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageNine.ClientOnePrioritiesNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageNine.ClientOnePrioritiesNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageNine.ClientTwoPersonalProtectionPriority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageNine.ClientTwoPersonalProtectionPriority)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageNine.ClientTwoPensionPlanningPriority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageNine.ClientTwoPensionPlanningPriority)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageNine.ClientTwoOptionsAtRetirementPriority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageNine.ClientTwoOptionsAtRetirementPriority)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageNine.ClientTwoSavingsAndInvestmentsPriority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageNine.ClientTwoSavingsAndInvestmentsPriority)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageNine.ClientTwoEstatePlanningPriority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageNine.ClientTwoEstatePlanningPriority)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageNine.ClientTwoMortgageNeedsPriority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageNine.ClientTwoMortgageNeedsPriority)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageNine.ClientTwoEquityReleasePriority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageNine.ClientTwoEquityReleasePriority)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageNine.ClientTwoLongTermCarePriority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageNine.ClientTwoLongTermCarePriority)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageNine.ClientTwoGeneralInsuranceNeedsPriority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageNine.ClientTwoGeneralInsuranceNeedsPriority)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageNine.ClientTwoPrioritiesNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageNine.ClientTwoPrioritiesNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageNine.CreatedDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageNine.CreatedDateTime)
        </dd>

    </dl>

        <h4>PageTen</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.PageTen.ExistingPlansNotes)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PageTen.ExistingPlansNotes)
            </dd>

        </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {id = Model.Id}) |
    @Html.ActionLink("Back to List", "Index")
</p>
    </div>
