@model HboFactFind.Domain.FactFind

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FactFind</h4>
    <hr />
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.PageEight.ClientOneRequiredEmergancyFund)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PageEight.ClientOneRequiredEmergancyFund)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.PageFive.ClientOneIncomeNotes)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PageFive.ClientOneIncomeNotes)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.PageFour.Id)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PageFour.Id)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.PageNine.ClientOnePrioritiesNotes)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PageNine.ClientOnePrioritiesNotes)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.PageOne.ClientOneForename)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PageOne.ClientOneForename)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.PageSeven.AssetsNotes)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PageSeven.AssetsNotes)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.PageSix.OutGoingsNotes)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PageSix.OutGoingsNotes)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.PageTen.ExistingPlansNotes)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PageTen.ExistingPlansNotes)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.PageThree.ClientOneSolicitor)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PageThree.ClientOneSolicitor)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.PageTwo.ClientOneOccupation)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PageTwo.ClientOneOccupation)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.ClientOneName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.ClientOneName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.ClientTwoName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.ClientTwoName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.UserId)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.UserId)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.CompletionDateTime)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.CompletionDateTime)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.PageOneId)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PageOneId)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.PageTwoId)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PageTwoId)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.PageThreeId)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PageThreeId)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.PageFourId)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PageFourId)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.PageFiveId)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PageFiveId)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.PageSixId)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PageSixId)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.PageSevenId)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PageSevenId)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.PageEightId)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PageEightId)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.PageNineId)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PageNineId)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.PageTenId)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PageTenId)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.CreatedDateTime)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.CreatedDateTime)
    </dd>
</dl>

    <h4>PageOne</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientOneTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientOneTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientOneForename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientOneForename)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientOneSurnames)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientOneSurnames)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientOneAddressLineOne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientOneAddressLineOne)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientOneAddressLineTwo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientOneAddressLineTwo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientOneAddressLineThree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientOneAddressLineThree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientOneCounty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientOneCounty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientOnePostCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientOnePostCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientOneEmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientOneEmailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientOneHomeTelephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientOneHomeTelephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientOneMobileTelephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientOneMobileTelephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientOneDateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientOneDateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientOneSex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientOneSex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientOneMartialStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientOneMartialStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientOneGoodHealth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientOneGoodHealth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientOneSmoked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientOneSmoked)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientOneNationalInsuranceNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientOneNationalInsuranceNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientOneNationality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientOneNationality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientOneCountryOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientOneCountryOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientOneCountryOfResidence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientOneCountryOfResidence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientOneDomicile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientOneDomicile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientOneTaxationResidency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientOneTaxationResidency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientOneExtraInformation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientOneExtraInformation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientTwoTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientTwoTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientTwoForename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientTwoForename)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientTwoSurnames)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientTwoSurnames)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientTwoAddressLineOne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientTwoAddressLineOne)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientTwoAddressLineTwo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientTwoAddressLineTwo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientTwoAddressLineThree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientTwoAddressLineThree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientTwoCounty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientTwoCounty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientTwoPostCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientTwoPostCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientTwoEmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientTwoEmailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientTwoHomeTelephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientTwoHomeTelephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientTwoMobileTelephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientTwoMobileTelephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientTwoDateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientTwoDateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientTwoSex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientTwoSex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientTwoMartialStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientTwoMartialStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientTwoGoodHealth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientTwoGoodHealth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientTwoSmoked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientTwoSmoked)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientTwoNationalInsuranceNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientTwoNationalInsuranceNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientTwoNationality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientTwoNationality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientTwoCountryOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientTwoCountryOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientTwoCountryOfResidence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientTwoCountryOfResidence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientTwoDomicile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientTwoDomicile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientTwoTaxationResidency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientTwoTaxationResidency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.ClientTwoExtraInformation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.ClientTwoExtraInformation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageOne.CreatedDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageOne.CreatedDateTime)
        </dd>

    </dl>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
