@model HboFactFind.Domain.FactFind

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FactFind</h4>
    <hr/>
    <div class="dl-horizontal">

        @Html.Partial("Partial/_DetailsFactFind", Model)
        <h4>PageOne</h4>
        <hr/>

        @Html.Partial("Partial/_DetailsPageOne", Model.PageOne)

        <h4>PageTwo</h4>
        <hr/>
        <div class="dl-horizontal">
            @Html.Partial("Partial/_DetailsPageTwo", Model.PageTwo)
        </div>

        <h4>PageThree</h4>
        <hr/>
        <div class="dl-horizontal">
            @Html.Partial("Partial/_DetailsPageThree", Model.PageThree)
        </div>


        <h4>PageFour</h4>
        <hr/>
        <div class="dl-horizontal">
            @Html.Partial("Partial/_DetailsPageFour", Model.PageFour)
        </div>

        <h4>PageFive</h4>
        <hr/>
        <div class="dl-horizontal">
            @Html.Partial("Partial/_DetailsPageFive", Model.PageFive)
        </div>

        <h4>PageSix</h4>
        <hr/>
        <div class="dl-horizontal">
            @Html.Partial("Partial/_DetailsPageSix", Model.PageSix)
        </div>

        <h4>PageSeven</h4>
        <hr/>
        <div class="dl-horizontal">
            @Html.Partial("Partial/_DetailsPageSeven", Model.PageSeven)
        </div>

        <h4>PageEight</h4>
        <hr/>
        <div class="dl-horizontal">
            @Html.Partial("Partial/_DetailsPageEight", Model.PageEight)
        </div>
        <h4>PageNine</h4>
        <hr/>
        <div class="dl-horizontal">
            @Html.Partial("Partial/_DetailsPageNine", Model.PageNine)
        </div>

        <h4>PageTen</h4>
        <hr/>
        <dl class="dl-horizontal">
            @Html.Partial("Partial/_DetailsPageTen", Model.PageTen)
        </dl>
        <p>
            @Html.ActionLink("Edit", "Edit", new {id = Model.Id}) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>