@using HboFactFind.Domain.Questions.Dependants
@model HboFactFind.Domain.Pages.PageFour

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>PageFour</h4>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            <div class="hboDetailRow row">
                <div class="col-xs-12">
                    <div class="headerStyle col-xs-12 col-sm-4">
                        @Html.LabelFor(model => model.AnyFinancialDependants)
                    </div>
                    <div class="fieldStyle col-xs-12 col-sm-8">
                        <div class="topTFStyle col-xs-12 col-sm-6">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.AnyFinancialDependants)
                                @Html.ValidationMessageFor(model => model.AnyFinancialDependants, "", new {@class = "text-danger"})
                            </div>
                        </div>
                        <div class="bottomTFStyle col-xs-12 col-sm-6">
                            <div class="checkbox">
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @Html.Partial("~/Views/FinancialDependants/Partials/_FinancialDependantsIndex.cshtml", Model.FinancialDependants)

        <div id="dialog" title="Basic dialog">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">&times;</a>
                <h3>Title of the form</h3>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "helloworld", id = "__AjaxAntiForgeryForm" }))
                {
                    @Html.AntiForgeryToken()

                     @Html.Partial("~/Views/FinancialDependants/Partials/_FinancialDependantsCreate.cshtml", new FinancialDependant(){Id = Model.Id})
                }

                
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">Close</a>
                <a href="#" class="btn btn-primary link">Save Changes</a>
            </div>
            
            <div id="validationSummary" class="validation-summary">
                <ul></ul>
            </div>
        </div>

        <script type="text/javascript">

            var initArticleModal = function () {
                $("#articleForm").validate({
                    rules: {
                        Title: { required: true, minlength: 4 },
                        Magazine: { required: true, minlength: 4 },
                        PubMonth: { required: true, date: true }
                    },
                    messages: {
                        Title: "Article title is required (at least 4 chars).",
                        Magazine: "Magazine name is required is required (at least 4 chars)."
                    },
                    errorContainer: "#validationSummary",
                    errorLabelContainer: "#validationSummary ul",
                    wrapper: "li",
                    submitHandler: function (form) {
                        gladiatorApp.addArticle($(form));
                    }
                });
            };

           


            $(function () {
                $("#dialog").dialog();
            });

            $(document).ready(function () {
                initArticleModal();
                $(".btn.link").on("click", function () {
                    var articleId = $(this).data('id');
                    var frm = $(".helloworld");
                    var data = JSON.stringify(frm.serializeArray());
                    var form = $('__AjaxAntiForgeryForm');
                    var token = $('input[name="__RequestVerificationToken"]', form).val();
                    var postData = form.serialize();
                    alert(token);

                    $.ajax({
                        url: "/FinancialDependants/Test",
                        type: 'POST',
                        data: {
                            __RequestVerificationToken: token,
                            data: postData
                        },
                        cache: false
                    }).done(function (data) {
                    });
                });
            });


        </script>



        @Html.Partial("~/Views/NonFinancialDependants/Partials/_NonFinancialDependantIndex.cshtml", Model.NonFinancialDependantses)

        <div class="form-group">
            <div class="buttonPanel col-xs-12">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}