@model IEnumerable<HboFactFind.Domain.Questions.ExistingPlans.PensionPolicies>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PageTen.ExistingPlansNotes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contribution)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Frequency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pci)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdditionalLifeCover)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastValuation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Owner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Provider)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PolicyNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductPlanType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InForce)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDateTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PageTen.ExistingPlansNotes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contribution)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Frequency)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pci)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdditionalLifeCover)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastValuation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Owner)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Provider)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PolicyNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductPlanType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InForce)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDateTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
